<mat-card
    class="check-in-card border-radius d-block bg-primary-100 border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.component-dark-theme]="themeService.isDark()"
>
    <mat-card-content class="d-flex d-md-block align-items-center justify-content-between">
        <div>
            <span class="d-block">
                Check In
            </span>
            <h1 class="lh-1">
                245
            </h1>
            <span class="trezo-badge up with-border">
                +3.4%
            </span>
        </div>
        <div class="icon bg-white rounded-circle d-flex align-items-center justify-content-end">
            <img src="images/icons/check-in-desk.svg" alt="check-in-desk">
        </div>
    </mat-card-content>
</mat-card>