::ng-deep {
    .reviews-card {
        .mat-mdc-card-content {
            .mat-mdc-table {
                &.mdc-data-table__table {
                    .mat-mdc-header-row {
                        .mat-mdc-header-cell {
                            padding-bottom: 14px;
                        }
                    }
                    .mdc-data-table__content {
                        .mat-mdc-row {
                            .mat-mdc-cell {
                                vertical-align: top;
                                padding: {
                                    top: 14px;
                                    bottom: 14px;
                                };
                                .employee-info {
                                    gap: 10px;

                                    img {
                                        width: 30px;
                                        margin-bottom: -3px;
                                    }
                                    span {
                                        font-size: var(--fontSize);
                                    }
                                }
                                .ratings {
                                    line-height: 1;
                                    font-size: 15px;

                                    .number {
                                        top: 1px;
                                        font-size: 12px;
                                        margin-left: 2px;
                                    }
                                }
                                .reviews {
                                    white-space: normal;
                                    width: 620px;

                                    span {
                                        margin-bottom: 5px;
                                    }
                                }
                                .dot-menu {
                                    font-size: 18px;
                                    color: var(--bodyColor);
                                }
                            }
                        }
                    }
                }
            }
            .mat-mdc-paginator {
                padding-top: 14px;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}