::ng-deep {
    .history-of-bids-card {
        .mat-mdc-card-content {
            .table-responsive {
                height: 334px;
                margin-right: -25px;
            }
            .mat-mdc-table {
                &.mdc-data-table__table {
                    padding-right: 25px;
                    
                    .mdc-data-table__content {
                        .mat-mdc-row {
                            .mat-mdc-cell {
                                .employee-info {
                                    gap: 10px;

                                    .img {
                                        width: 40px;
                                    }
                                    span {
                                        &:nth-child(1) {
                                            font-size: var(--fontSize);
                                        }
                                    }
                                }
                            }
                            &:last-child {
                                .mat-mdc-cell {
                                    padding-bottom: 0;
                                    border-bottom-width: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .table-responsive {
                    margin: {
                        right: 0;
                        left: -25px;
                    };
                }
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        padding: {
                            right: 0;
                            left: 25px;
                        };
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .history-of-bids-card {
            .mat-mdc-card-content {
                .table-responsive {
                    margin-right: -17px;
                }
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        padding-right: 17px;
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .table-responsive {
                        margin: {
                            right: 0;
                            left: -17px;
                        };
                    }
                    .mat-mdc-table {
                        &.mdc-data-table__table {
                            padding: {
                                right: 0;
                                left: 17px;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .history-of-bids-card {
            .mat-mdc-card-content {
                .table-responsive {
                    margin-right: -20px;
                }
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        padding-right: 20px;
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .table-responsive {
                        margin: {
                            right: 0;
                            left: -20px;
                        };
                    }
                    .mat-mdc-table {
                        &.mdc-data-table__table {
                            padding: {
                                right: 0;
                                left: 20px;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}