<mat-card class="earnings-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content class="d-flex justify-content-between">
        <div class="title">
            <span class="d-block">
                Earnings
            </span>
            <h2>
                $312
            </h2>
            <span class="trezo-badge down with-border">
                -1.4%
            </span>
        </div>
        <div class="icon">
            <img src="images/icons/money-bag.svg" alt="money-bag">
        </div>
    </mat-card-content>
</mat-card>