<mat-card class="asset-allocation-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Asset Allocation
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <span class="d-block fw-normal text-body">
                Last 30 days
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span class="d-block">
            Total Value
        </span>
        <h5 class="mb-0">
            $17,485
        </h5>
        <div class="chart">
            <div id="ct_asset_allocation_chart"></div>
        </div>
    </mat-card-content>
</mat-card>