<mat-card class="linkedin-followers-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <img src="images/icons/linkedin3.svg" alt="linkedin">
        <h3 class="fw-medium">
            56.3k
        </h3>
        <span class="d-block">
            Followers
        </span>
        <div class="info d-flex align-items-center">
            <span class="d-block text-body">
                This month
            </span>
            <span class="trezo-badge position-relative fw-normal down with-border">
                <i class="ri-arrow-down-line"></i>
                2.1%
            </span>
        </div>
    </mat-card-content>
</mat-card>