<div class="faq-area pt-150">
    <div class="container">
        <div class="section-title text-center ml-auto mr-auto">
            <div class="sub-title d-inline-block position-relative">
                <span class="d-inline-block position-relative text-purple">
                    FAQ's
                </span>
            </div>
            <h2 class="mb-0">
                Do You Have Questions? We Have Answers (Well, Most of the Time!)
            </h2>
        </div>
        <mat-accordion
            class="faq-accordion d-block ml-auto mr-auto"
            [class.component-dark-theme]="themeService.isDark()"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        What is Trezo?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Trezo is a cutting-edge, multi-framework admin dashboard template designed to streamline the development of modern web applications. It integrates seamlessly with a variety of popular frameworks, offering developers flexibility and efficiency in their projects. 
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        What features does Trezo offer?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Trezo is a comprehensive, multi-framework admin dashboard template designed to facilitate the development of responsive and high-performance web applications. It offers a wide array of features to cater to various project needs:
                </p>
                <ul>
                    <li class="position-relative">
                        Multi-Framework Support
                    </li>
                    <li class="position-relative">
                        Extensive Components and UI Elements
                    </li>
                    <li class="position-relative">
                        Diverse Page Layouts
                    </li>
                    <li class="position-relative">
                        Multiple Dashboard Variations
                    </li>
                    <li class="position-relative">
                        Responsive and High-Performance Design
                    </li>
                    <li class="position-relative">
                        Regular Updates
                    </li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        How can Trezo benefit my team?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    ​Integrating Trezo into your team's workflow can significantly enhance productivity and streamline development processes.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Is Trezo suitable for small businesses?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Yes, Trezo is well-suited for small businesses seeking a versatile and efficient admin dashboard template.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Can I customize Trezo to fit my team's specific needs?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Yes, Trezo is designed with customization in mind, allowing your team to tailor it to your specific needs.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Is Trezo cloud-based or on-premises?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Trezo is an admin dashboard template that you can integrate into your web applications. Its deployment—whether cloud-based or on-premises—depends on where you host your application. If your application is hosted on cloud servers, Trezo will function in a cloud-based environment; if hosted on local servers, it will operate on-premises. This flexibility allows you to choose the deployment method that best suits your organization's infrastructure and requirements.
                </p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Does Trezo integrate with other tools?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    ​Trezo is a versatile admin dashboard template designed to integrate seamlessly with various frameworks and tools, enhancing its adaptability to different development environments.
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>