<div
    class="ecommerce-navbar relative top-0 right-0 left-0 bg-primary-500 transition-all h-auto z-[5] py-[20px] md:py-[30px] lg:py-[40px]"
    [ngClass]="{'is-sticky': isSticky, '!fixed bg-transparent': router.url === '/'}"
    id="navbar"
>
    <div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1308px] mx-auto px-[12px]">
        <div class="flex items-center relative flex-wrap lg:flex-nowrap justify-between lg:justify-start">
            <a routerLink="/" class="inline-block w-[150px] ltr:mr-[15px] rtl:ml-[15px]">
                <img src="images/ecommerce/logo.svg" alt="logo" class="inline-block">
            </a>
            <button
                type="button"
                id="navbar-burger-menu"
                (click)="toggleClass()"
                [class.active]="classApplied"
                class="inline-block relative leading-none lg:hidden"
            >
                <span class="h-[3px] w-[30px] my-[5px] block bg-white"></span>
                <span class="h-[3px] w-[30px] my-[5px] block bg-white"></span>
                <span class="h-[3px] w-[30px] my-[5px] block bg-white"></span>
            </button>
            <div class="hidden lg:flex items-center grow basis-full basis-auto"><!-- For Big Devices -->
                <ul class="flex mx-auto flex-row gap-[30px] xl:gap-[50px]">
                    <li>
                        <a routerLink="/" class="font-medium text-gray-50 transition-all hover:text-secondary-200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a routerLink="/features" class="font-medium text-gray-50 transition-all hover:text-secondary-200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Features
                        </a>
                    </li>
                    <li>
                        <a routerLink="/use-cases" class="font-medium text-gray-50 transition-all hover:text-secondary-200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Use Cases
                        </a>
                    </li>
                    <li>
                        <a routerLink="/testimonials" class="font-medium text-gray-50 transition-all hover:text-secondary-200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Testimonials
                        </a>
                    </li>
                    <li>
                        <a routerLink="/pricing" class="font-medium text-gray-50 transition-all hover:text-secondary-200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Pricing
                        </a>
                    </li>
                    <li>
                        <a routerLink="/blog" class="font-medium text-gray-50 transition-all hover:text-secondary-200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Blog
                        </a>
                    </li>
                </ul>
                <a routerLink="/pricing" class="inline-block py-[9px] px-[25px] md:py-[10.5px] md:px-[30px] font-medium text-primary-500 bg-white rounded-[100px] border border-white transition-all hover:bg-primary-500 hover:border-primary-500 hover:text-white">
                    Get Started
                </a>
            </div>
            <div
                class="bg-black border border-gray-500 rounded-[15px] mt-[15px] p-[20px] md:p-[30px] w-full hidden lg:!hidden"
                [class.active]="classApplied"
                id="navbar-collapse"
            ><!-- For Responsive -->
                <ul>
                    <li class="my-[14px] md:my-[16px] first:mt-0 last:mb-0">
                        <a routerLink="/" class="font-medium text-gray-50 transition-all hover:text-secondary-200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Home
                        </a>
                    </li>
                    <li class="my-[14px] md:my-[16px] first:mt-0 last:mb-0">
                        <a routerLink="/features" class="font-medium text-gray-50 transition-all hover:text-secondary-200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Features
                        </a>
                    </li>
                    <li class="my-[14px] md:my-[16px] first:mt-0 last:mb-0">
                        <a routerLink="/use-cases" class="font-medium text-gray-50 transition-all hover:text-secondary-200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Use Cases
                        </a>
                    </li>
                    <li class="my-[14px] md:my-[16px] first:mt-0 last:mb-0">
                        <a routerLink="/testimonials" class="font-medium text-secondary-200 transition-all hover:text-secondary-200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Testimonials
                        </a>
                    </li>
                    <li class="my-[14px] md:my-[16px] first:mt-0 last:mb-0">
                        <a routerLink="/pricing" class="font-medium text-gray-50 transition-all hover:text-secondary-200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Pricing
                        </a>
                    </li>
                    <li class="my-[14px] md:my-[16px] first:mt-0 last:mb-0">
                        <a routerLink="/blog" class="font-medium text-gray-50 transition-all hover:text-secondary-200" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Blog
                        </a>
                    </li>
                </ul>
                <a routerLink="/pricing" class="inline-block py-[9px] px-[25px] md:py-[10.5px] md:px-[30px] font-medium text-primary-500 bg-white rounded-[100px] border border-white transition-all hover:bg-primary-500 hover:border-primary-500 hover:text-white mt-[15px]">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</div>