<mat-card class="x-followers-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <img src="images/icons/x.svg" alt="x">
        <h3 class="fw-medium">
            75.2k
        </h3>
        <span class="d-block">
            Followers
        </span>
        <div class="info d-flex align-items-center">
            <span class="d-block text-body">
                This month
            </span>
            <span class="trezo-badge position-relative fw-normal up with-border">
                <i class="ri-arrow-up-line"></i>
                3.5%
            </span>
        </div>
    </mat-card-content>
</mat-card>