.mat-mdc-header-cell {
    padding: {
        top: 12px !important;
        bottom: 12px !important;
    };
}
.mat-mdc-cell {
    padding: {
        top: 18.4px !important;
        bottom: 18.4px !important;
    };
}
.trezo-badge {
    border-radius: 30px;
    padding: {
        top: 0;
        bottom: 0;
    };
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-header-cell {
        padding: {
            top: 10px !important;
            bottom: 10px !important;
        };
    }
    .mat-mdc-cell {
        padding: {
            top: 15px !important;
            bottom: 15px !important;
        };
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}