<div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1308px] mx-auto px-[12px]">
    <span class="block text-[16px] md:text-[18px] lg:text-[20px] font-medium text-center text-gray-700 dark:text-gray-100 mb-[30px] md:mb-[40px] lg:mb-[50px]">
        Trezo is the platform behind some of the fastest-growing online brands.
    </span>
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 xl:flex gap-[20px] md:gap-[25px] items-center justify-between">
        <img src="images/ecommerce/partners/partner1.svg" alt="learners-organizations-image" class="inline-block dark:invert">
        <img src="images/ecommerce/partners/partner2.svg" alt="learners-organizations-image" class="inline-block dark:invert">
        <img src="images/ecommerce/partners/partner3.svg" alt="learners-organizations-image" class="inline-block dark:invert">
        <img src="images/ecommerce/partners/partner4.svg" alt="learners-organizations-image" class="inline-block dark:invert">
        <img src="images/ecommerce/partners/partner5.svg" alt="learners-organizations-image" class="inline-block dark:invert">
        <img src="images/ecommerce/partners/partner6.svg" alt="learners-organizations-image" class="inline-block dark:invert">
    </div>
</div>