.todays-schedule-card {
    .mat-mdc-card-content {
        .events-list {
            height: 505px;
            margin-top: 25px;
            padding-top: 25px;

            .event-item {
                padding: 25px;
                margin-top: 12px;
                background-color: #DDE4FF;

                .user {
                    gap: 8px;

                    img {
                        width: 24px;
                        margin-bottom: -2px;
                        border: 1px solid var(--whiteColor);
                    }
                }
                p {
                    margin: {
                        bottom: 10px;
                        top: 5px;
                    };
                }
                .info {
                    margin-top: 17px;

                    .mat-mdc-button {
                        background-color: var(--whiteColor);
                        color: var(--primaryColor);
                        padding: 8.5px 17px;
                        font-weight: 500;
                    }
                    .notification-btn {
                        width: 28px;
                        height: 28px;
                        color: var(--primaryColor);
                        transition: var(--transition);
                        background-color: var(--whiteColor);

                        &:hover {
                            color: var(--whiteColor);
                            background-color: var(--primaryColor);
                        }
                    }
                }
                &:nth-child(2), &:nth-child(5) {
                    background-color: #DAEBFF;

                    .info {
                        .mat-mdc-button {
                            color: var(--secondaryColor);
                        }
                        .notification-btn {
                            color: var(--secondaryColor);
    
                            &:hover {
                                color: var(--whiteColor);
                            }
                        }
                    }
                }
                &:nth-child(3), &:nth-child(6) {
                    background-color: #C8FFE1;

                    .info {
                        .mat-mdc-button {
                            color: var(--successColor);
                        }
                        .notification-btn {
                            color: var(--successColor);
    
                            &:hover {
                                color: var(--whiteColor);
                            }
                        }
                    }
                }
                &:first-child {
                    margin-top: 0;
                }
            }
            &::before {
                top: 0;
                left: 0;
                right: 0;
                content: '';
                margin-right: 25px;
                position: absolute;
                border-top: 2px dashed var(--borderColor);
            }
        }
    }
    &.component-dark-theme {
        .mat-mdc-card-content {
            .events-list {
                .event-item {
                    background-color: var(--borderColor) !important;
    
                    .user {
                        img {
                            border-color: var(--blackColor);
                        }
                    }
                    .info {
                        .mat-mdc-button {
                            background-color: #0C1427;
                            border-color: #0C1427;
                        }
                        .notification-btn {
                            background-color: #0C1427;
    
                            &:hover {
                                background-color: var(--primaryColor);
                            }
                        }
                    }
                    .shape {
                        opacity: .20;
                    }
                    &:nth-child(2), &:nth-child(5) {
                        .info {
                            .notification-btn {
                                &:hover {
                                    background-color: var(--secondaryColor);
                                }
                            }
                        }
                    }
                    &:nth-child(3), &:nth-child(6) {
                        .info {
                            .notification-btn {
                                &:hover {
                                    background-color: var(--successColor);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .events-list {
                .event-item {
                    direction: rtl;
    
                    .shape {
                        right: auto !important;
                        transform: scaleX(-1);
                        left: 0;
                    }
                }
            }
        }
    }
}
::ng-deep {
    .todays-schedule-card {
        .mat-mdc-card-content {
            .mat-calendar {
                .mat-calendar-header {
                    padding: 0;
                    margin-bottom: 15px;

                    .mat-calendar-controls {
                        margin: 0;
                        justify-content: space-between;

                        .mat-calendar-period-button {
                            order: 2;
                            margin: 0;
                            padding: 0;
                            height: auto;
                            min-width: auto;
                            display: inline-block;
                            color: var(--blackColor);

                            .mdc-button__label {
                                display: block;
                                padding-right: 15px;

                                svg {
                                    top: 50%;
                                    right: 0;
                                    position: absolute;
                                    fill: var(--bodyColor);
                                    transform: translateY(-50%);
                                }
                            }
                            &:hover {
                                .mat-mdc-button-persistent-ripple {
                                    &::before {
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                        .mat-calendar-previous-button, .mat-calendar-next-button {
                            background-color: #E6EFF2;
                            color: var(--blackColor);
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            height: 30px;
                            width: 30px;
                            padding: 0;
                            order: 1;

                            &::after, &::after {
                                margin: 11px;
                            }
                        }
                        .mat-calendar-next-button {
                            order: 3;
                        }
                        .mat-calendar-spacer {
                            display: none;
                        }
                    }
                }
                .mat-calendar-content {
                    padding: 0;
                    margin: {
                        left: 0;
                        right: 0;
                    };
                    .mat-calendar-table-header {
                        th {
                            font-size: 12px;
                            padding: 0 0 8px;
                            color: var(--bodyColor);
                        }
                        .mat-calendar-table-header-divider {
                            padding: 0;
                        }
                    }
                    .mat-calendar-body {
                        min-width: auto;

                        .mat-calendar-body-label {
                            opacity: 0;
                            padding: 0 !important;
                            color: var(--blackColor);
                        }
                        .mat-calendar-body-cell-container {
                            background-color: transparent;
                            padding: 6px 0 3px !important;
                            width: auto !important;
                            line-height: initial;
                            border-radius: 7px;
                            text-align: center;
                            position: relative;
                            height: auto;
                            z-index: 1;

                            &::before {
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                z-index: -1;
                                content: '';
                                margin: 1.5px;
                                border-radius: 7px;
                                position: absolute;
                                background-color: #E6EFF2;
                            }
                        }
                        .mat-calendar-body-cell {
                            padding: 0;
                            width: 35px;
                            height: 35px;
                            font-size: 13px;
                            border-radius: 50%;
                            position: relative;
                            margin: {
                                left: auto;
                                right: auto;
                            };
                        }
                        .mat-calendar-body-cell-content {
                            color: var(--blackColor);
                            font-weight: 500;
                        }
                    }
                    .mat-calendar-body-today {
                        &:not(.mat-calendar-body-selected) {
                            &:not(.mat-calendar-body-comparison-identical) {
                                color: var(--whiteColor);
                                border-color: var(--primaryColor);
                                background-color: var(--primaryColor);
                            }
                        }
                    }
                }
            }
            .events-list {
                margin-right: -25px;

                .ng-scroll-content {
                    padding: 0;
                    padding-right: 25px;
                    --_track-y-thickness: 3px;
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .mat-calendar {
                    .mat-calendar-header {
                        .mat-calendar-controls {
                            .mat-calendar-next-button {
                                svg {
                                    transform: scaleX(-1);
                                }
                            }
                            .mat-calendar-previous-button {
                                svg {
                                    transform: scaleX(-1);
                                }
                            }
                        }
                    }
                }
            }
        }
        &.component-dark-theme {
            .mat-mdc-card-content {
                .mat-calendar {
                    .mat-calendar-header {
                        .mat-calendar-controls {
                            .mat-calendar-period-button {
                                color: var(--whiteColor);
                            }
                            .mat-calendar-previous-button, .mat-calendar-next-button {
                                color: var(--whiteColor);
                                background-color: var(--borderColor);
                            }
                        }
                    }
                    .mat-calendar-content {
                        .mat-calendar-table-header {
                            th {
                                color: var(--whiteColor);
                            }
                        }
                        .mat-calendar-body {
                            .mat-calendar-body-label {
                                color: var(--whiteColor);
                            }
                            .mat-calendar-body-cell-container {
                                &::before {
                                    background-color: var(--borderColor);
                                }
                            }
                            .mat-calendar-body-cell-content {
                                color: var(--whiteColor);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .todays-schedule-card {
        .mat-mdc-card-content {
            .events-list {
                height: 520px;
                margin-top: 17px;
                padding-top: 17px;
    
                .event-item {
                    padding: 17px;
                    margin-top: 10px;
                }
                &::before {
                    margin-right: 17px;
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .events-list {
                    &::before {
                        margin: {
                            right: 0;
                            left: 17px;
                        };
                    }
                }
            }
        }
    }
    ::ng-deep {
        .todays-schedule-card {
            .mat-mdc-card-content {
                .events-list {
                    margin-right: -17px;
    
                    .ng-scroll-content {
                        padding-right: 17px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .todays-schedule-card {
        .mat-mdc-card-content {
            .events-list {
                margin-top: 20px;
                padding-top: 20px;
    
                .event-item {
                    padding: 20px;
                }
                &::before {
                    margin-right: 20px;
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .events-list {
                        &::before {
                            margin: {
                                right: 0;
                                left: 20px;
                            };
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .todays-schedule-card {
            .mat-mdc-card-content {
                .events-list {
                    margin-right: -20px;
    
                    .ng-scroll-content {
                        padding-right: 20px;
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}