<mat-card class="upgrade-plan-card mb-25 border-radius text-center d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <h3 class="fw-medium">
            Upgrade Your Plan!
        </h3>
        <p class="mx-auto">
            Access advanced features, enhanced support, and exclusive tools designed to help you achieve more.
        </p>
        <div class="image">
            <img src="images/girl-with-dog.png" alt="girl-with-dog">
        </div>
        <a routerLink="." mat-button color="primary">
            <i class="ri-fire-fill"></i>
            Upgrade Plan
        </a>
    </mat-card-content>
</mat-card>