<div
    class="pricing-area pt-180 pb-155 bg-f7f7f7"
    [class.component-dark]="toggleService.isLandingDark()"
    [class.component-rtl]="toggleService.isLandingRtlEnabled()"
>
    <div class="container">
        <div class="ecommerce-section-title text-center">
            <span class="sub-title d-inline-block">
                Pricing Plans
            </span>
            <h2 class="mx-auto">
                Flexible Plans That Scale With You
            </h2>
            <p>
                Start free and upgrade as you grow. No hidden fees, no surprises.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-box position-relative z-1">
                    <span class="title d-inline-block">
                        Free Trial
                    </span>
                    <div class="price lh-1">
                        $0<span>/monthly</span>
                    </div>
                    <p>
                        New store owners exploring Trezo
                    </p>
                    <div class="dash"></div>
                    <span class="d-block sub-title fw-medium">
                        Features:
                    </span>
                    <ul class="features-list p-0 m-0 list-unstyled">
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Access to basic dashboard
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Real-time sales tracking
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Inventory overview
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Up to 50 products
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            1 connected store
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Email support
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            No credit card required
                        </li>
                    </ul>
                    <a href="https://trezo-bs.envytheme.com/dashboard" class="ecommerce-default-btn with-border d-block w-full" mat-button target="_blank">
                        Get Started
                    </a>
                    <div class="shape">
                        <img src="images/ecommerce/shapes/shape5.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-box position-relative z-1">
                    <span class="title d-inline-block">
                        Pro
                    </span>
                    <div class="price lh-1">
                        $39<span>/monthly</span>
                    </div>
                    <p>
                        Growing businesses that need more control
                    </p>
                    <div class="dash"></div>
                    <span class="d-block sub-title fw-medium">
                        Features:
                    </span>
                    <ul class="features-list p-0 m-0 list-unstyled">
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Everything in Free
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Unlimited products & orders
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Multi-store dashboard
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Marketing automation tools
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Custom email campaigns
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Analytics & reports
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Chat support
                        </li>
                    </ul>
                    <a href="https://trezo-bs.envytheme.com/dashboard" class="ecommerce-default-btn with-border d-block w-full" mat-button target="_blank">
                        Get Started
                    </a>
                    <div class="shape">
                        <img src="images/ecommerce/shapes/shape5.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-box position-relative z-1">
                    <span class="title d-inline-block">
                        Enterprise
                    </span>
                    <div class="price lh-1">
                        $79<span>/monthly</span>
                    </div>
                    <p>
                        High-volume sellers & teams
                    </p>
                    <div class="dash"></div>
                    <span class="d-block sub-title fw-medium">
                        Features:
                    </span>
                    <ul class="features-list p-0 m-0 list-unstyled">
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Everything in Pro
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Dedicated success manager
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            API access & integrations
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Advanced analytics & forecasting
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Priority support
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            Team roles & permissions
                        </li>
                        <li class="position-relative">
                            <img src="images/ecommerce/icons/check.svg" alt="check">
                            SLA-backed uptime guarantee
                        </li>
                    </ul>
                    <a href="https://trezo-bs.envytheme.com/dashboard" class="ecommerce-default-btn with-border d-block w-full" mat-button target="_blank">
                        Get Started
                    </a>
                    <div class="shape">
                        <img src="images/ecommerce/shapes/shape5.png" alt="shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>