<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-[25px] mb-[25px]">

    <!-- Total Listings -->
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content flex items-center justify-between">
            <div>
                <span class="block">
                    Total Listings
                </span>
                <h3 class="!leading-none !text-xl mt-[6px] !mb-[11px]">
                    3251
                </h3>
                <span class="inline-block text-xs font-medium px-[8px] text-success-700 border border-success-500 bg-success-100 dark:bg-[#15203c] dark:border-[#15203c] text-sm rounded-[100px]">
                    +3.4%
                </span>
            </div>
            <div>
                <img src="images/buildings/building1.png" alt="building-image">
            </div>
        </div>
    </div>

    <!-- Sales Volume -->
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content flex items-center justify-between">
            <div>
                <span class="block">
                    Sales Volume
                </span>
                <h3 class="!leading-none !text-xl mt-[6px] !mb-[11px]">
                    $1.2M
                </h3>
                <span class="inline-block text-xs font-medium px-[8px] text-danger-700 border border-danger-400 bg-danger-100 dark:bg-[#15203c] dark:border-[#15203c] rounded-[100px]">
                    -3.2%
                </span>
            </div>
            <div>
                <img src="images/buildings/building2.png" alt="building-image">
            </div>
        </div>
    </div>

    <!-- Active Deals -->
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content flex items-center justify-between">
            <div>
                <span class="block">
                    Active Deals
                </span>
                <h3 class="!leading-none !text-xl mt-[6px] !mb-[11px]">
                    1124
                </h3>
                <span class="inline-block text-xs font-medium px-[8px] text-success-700 border border-success-500 bg-success-100 dark:bg-[#15203c] dark:border-[#15203c] text-sm rounded-[100px]">
                    +1.4%
                </span>
            </div>
            <div>
                <img src="images/buildings/building3.png" alt="building-image">
            </div>
        </div>
    </div>

    <!-- Closed Deals -->
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content flex items-center justify-between">
            <div>
                <span class="block">
                    Closed Deals
                </span>
                <h3 class="!leading-none !text-xl mt-[6px] !mb-[11px]">
                    2312
                </h3>
                <span class="inline-block text-xs font-medium px-[8px] text-danger-700 border border-danger-400 bg-danger-100 dark:bg-[#15203c] dark:border-[#15203c] rounded-[100px]">
                    -1.2%
                </span>
            </div>
            <div>
                <img src="images/buildings/building4.png" alt="building-image">
            </div>
        </div>
    </div>

</div>