<div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1308px] mx-auto px-[12px]">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-[25px]">
        <div class="lg:col-span-1">
            <div class="relative z-[1] text-center rounded-[15px] bg-white dark:bg-[#0a0e19] px-[20px] xl:px-[25px] py-[35px] md:py-[55px] lg:py-[85px]">
                <div class="flex items-center justify-center">
                    <img src="images/marketing/users/user1.jpg" class="rounded-full w-[46px] border-[3px] border-white dark:border-gray-800 -mx-[7px]" alt="user-image">
                    <img src="images/marketing/users/user2.jpg" class="rounded-full w-[46px] border-[3px] border-white dark:border-gray-800 -mx-[7px]" alt="user-image">
                    <img src="images/marketing/users/user4.jpg" class="rounded-full w-[46px] border-[3px] border-white dark:border-gray-800 -mx-[7px]" alt="user-image">
                    <img src="images/marketing/users/user3.jpg" class="rounded-full w-[46px] border-[3px] border-white dark:border-gray-800 -mx-[7px]" alt="user-image">
                </div>
                <span class="block mt-[12px] md:mt-[15px] font-medium text-gray-700 dark:text-gray-100">
                    50k+ Trusted Customers
                </span>
                <div
                    class="absolute top-0 left-0 right-0 bottom-0 -z-[1] rounded-[15px] dark:hidden"
                    style="background: linear-gradient(0deg, #FFF8F1 0%, #F7F9FF 100%);"
                ></div>
            </div>
        </div>
        <div class="lg:col-span-3">
            <div class="relative z-[1] text-center rounded-[15px] bg-white dark:bg-[#0a0e19] px-[20px] md:px-[30px] lg:px-[40px] xl:px-[50px] py-[35px] md:py-[55px] lg:py-[85.5px]">
                <span class="block font-medium text-gray-700 dark:text-gray-100 md:text-[15px] lg:text-md mb-[20px] md:mb-[25px] lg:mb-[30px]">
                    From Startups to Industry Leaders — Everyone’s Growing with Trezo
                </span>
                <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-[20px] md:gap-[25px]">
                    <div class="text-center">
                        <img src="images/marketing/partners/partner1.svg" class="inline-block" alt="partner-image">
                    </div>
                    <div class="text-center">
                        <img src="images/marketing/partners/partner2.svg" class="inline-block" alt="partner-image">
                    </div>
                    <div class="text-center">
                        <img src="images/marketing/partners/partner3.svg" class="inline-block" alt="partner-image">
                    </div>
                    <div class="text-center">
                        <img src="images/marketing/partners/partner4.svg" class="inline-block" alt="partner-image">
                    </div>
                    <div class="text-center">
                        <img src="images/marketing/partners/partner5.svg" class="inline-block" alt="partner-image">
                    </div>
                </div>
                <div
                    class="absolute top-0 left-0 right-0 bottom-0 -z-[1] rounded-[15px] dark:hidden"
                    style="background: linear-gradient(0deg, #FFF8F1 0%, #F7F9FF 100%);"
                ></div>
            </div>
        </div>
    </div>
</div>