<div class="row">
    <div class="col-lg-3 col-sm-6">

        <!-- Total Listings -->
        <mat-card class="stat-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="d-block">
                        Total Listings
                    </span>
                    <h3 class="lh-1">
                        3251
                    </h3>
                    <span class="trezo-badge up with-border">
                        +3.4%
                    </span>
                </div>
                <div>
                    <img src="images/buildings/building1.png" alt="building-image">
                </div>
            </mat-card-content>
        </mat-card>

    </div>
    <div class="col-lg-3 col-sm-6">

        <!-- Sales Volume -->
        <mat-card class="stat-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="d-block">
                        Sales Volume
                    </span>
                    <h3 class="lh-1">
                        $1.2M
                    </h3>
                    <span class="trezo-badge down with-border">
                        -3.2%
                    </span>
                </div>
                <div>
                    <img src="images/buildings/building2.png" alt="building-image">
                </div>
            </mat-card-content>
        </mat-card>
        
    </div>
    <div class="col-lg-3 col-sm-6">

        <!-- Active Deals -->
        <mat-card class="stat-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="d-block">
                        Active Deals
                    </span>
                    <h3 class="lh-1">
                        1124
                    </h3>
                    <span class="trezo-badge up with-border">
                        +1.4%
                    </span>
                </div>
                <div>
                    <img src="images/buildings/building3.png" alt="building-image">
                </div>
            </mat-card-content>
        </mat-card>
        
    </div>
    <div class="col-lg-3 col-sm-6">

        <!-- Closed Deals -->
        <mat-card class="stat-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="d-block">
                        Closed Deals
                    </span>
                    <h3 class="lh-1">
                        2312
                    </h3>
                    <span class="trezo-badge down with-border">
                        -1.2%
                    </span>
                </div>
                <div>
                    <img src="images/buildings/building4.png" alt="building-image">
                </div>
            </mat-card-content>
        </mat-card>
        
    </div>
</div>