<div class="pt-[145px] md:pt-[175px] lg:pt-[190px] xl:pt-[175px] pb-[70px] md:pb-[90px] lg:pb-[110px] xl:pb-[140px] relative z-[1] overflow-hidden">
    <div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1308px] mx-auto px-[12px]">
        <div class="text-center mb-[30px] md:mb-[40px] lg:mb-[50px] xl:mb-[60px] 2xl:mb-[70px]">
            <span class="inline-block py-[4.5px] px-[15px] rounded-[100px] bg-orange-100 dark:bg-[#0a0e19] text-orange-700 mb-[12px]">
                Blog
            </span>
            <h2 class="!text-gray-900 dark:!text-white md:-tracking-[1px] !font-medium !text-xl md:!text-3xl lg:!text-4xl xl:!text-5xl mx-auto xl:max-w-[630px] !leading-[1.2] !mb-[10px] lg:!mb-[12px]">
                Insights, Strategies, and Stories to Help You Market Smarter.
            </h2>
            <p class="md:text-[15px] lg:text-md !leading-[1.6] mx-auto xl:max-w-[615px]">
                Stay ahead of the curve with expert tips, industry trends, and product updates from the Trezo team.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[25px]">
            <div>
                <a routerLink="/marketing-demo/blog-details" class="block rounded-[25px] mb-[20px] md:mb-[25px]">
                    <img src="images/marketing/blogs/blog1.jpg" class="rounded-[25px] inline-block" alt="blog-image">
                </a>
                <div class="lg:px-[15px] xl:px-[25px]">
                    <h3 class="!font-medium !text-lg md:!text-[20px] lg:!text-xl text-gray-700 dark:text-gray-100 !mb-[12px] md:!mb-[15px] lg:!mb-[20px] !leading-[1.2]">
                        <a routerLink="/marketing-demo/blog-details" class="text-gray-700 dark:text-gray-100 hover:text-orange-600 transition-all">
                            The Future of Data-Driven Marketing
                        </a>
                    </h3>
                    <p class="!leading-[1.6]">
                        Discover why real-time data is the new creative and how teams are shifting to smarter, measurable campaigns.
                    </p>
                </div>
            </div>
            <div>
                <a routerLink="/marketing-demo/blog-details" class="block rounded-[25px] mb-[20px] md:mb-[25px]">
                    <img src="images/marketing/blogs/blog2.jpg" class="rounded-[25px] inline-block" alt="blog-image">
                </a>
                <div class="lg:px-[15px] xl:px-[25px]">
                    <h3 class="!font-medium !text-lg md:!text-[20px] lg:!text-xl text-gray-700 dark:text-gray-100 !mb-[12px] md:!mb-[15px] lg:!mb-[20px] !leading-[1.2]">
                        <a routerLink="/marketing-demo/blog-details" class="text-gray-700 dark:text-gray-100 hover:text-orange-600 transition-all">
                            7 Marketing Funnels That Actually Convert
                        </a>
                    </h3>
                    <p class="!leading-[1.6]">
                        Explore the funnel setups successful brands are using — and how you can apply them to your campaigns.
                    </p>
                </div>
            </div>
            <div>
                <a routerLink="/marketing-demo/blog-details" class="block rounded-[25px] mb-[20px] md:mb-[25px]">
                    <img src="images/marketing/blogs/blog3.jpg" class="rounded-[25px] inline-block" alt="blog-image">
                </a>
                <div class="lg:px-[15px] xl:px-[25px]">
                    <h3 class="!font-medium !text-lg md:!text-[20px] lg:!text-xl text-gray-700 dark:text-gray-100 !mb-[12px] md:!mb-[15px] lg:!mb-[20px] !leading-[1.2]">
                        <a routerLink="/marketing-demo/blog-details" class="text-gray-700 dark:text-gray-100 hover:text-orange-600 transition-all">
                            Why Your Team Needs a Unified Marketing Tool
                        </a>
                    </h3>
                    <p class="!leading-[1.6]">
                        Learn how consolidating your marketing stack improves performance, saves time, and boosts ROI.
                    </p>
                </div>
            </div>
            <div>
                <a routerLink="/marketing-demo/blog-details" class="block rounded-[25px] mb-[20px] md:mb-[25px]">
                    <img src="images/marketing/blogs/blog4.jpg" class="rounded-[25px] inline-block" alt="blog-image">
                </a>
                <div class="lg:px-[15px] xl:px-[25px]">
                    <h3 class="!font-medium !text-lg md:!text-[20px] lg:!text-xl text-gray-700 dark:text-gray-100 !mb-[12px] md:!mb-[15px] lg:!mb-[20px] !leading-[1.2]">
                        <a routerLink="/marketing-demo/blog-details" class="text-gray-700 dark:text-gray-100 hover:text-orange-600 transition-all">
                            How to Build a Scalable Marketing Engine from Scratch
                        </a>
                    </h3>
                    <p class="!leading-[1.6]">
                        Discover why real-time data is the new creative and how teams are shifting to smarter, measurable campaigns.
                    </p>
                </div>
            </div>
            <div>
                <a routerLink="/marketing-demo/blog-details" class="block rounded-[25px] mb-[20px] md:mb-[25px]">
                    <img src="images/marketing/blogs/blog5.jpg" class="rounded-[25px] inline-block" alt="blog-image">
                </a>
                <div class="lg:px-[15px] xl:px-[25px]">
                    <h3 class="!font-medium !text-lg md:!text-[20px] lg:!text-xl text-gray-700 dark:text-gray-100 !mb-[12px] md:!mb-[15px] lg:!mb-[20px] !leading-[1.2]">
                        <a routerLink="/marketing-demo/blog-details" class="text-gray-700 dark:text-gray-100 hover:text-orange-600 transition-all">
                            The Hidden Cost of Switching Between Too Many Tools
                        </a>
                    </h3>
                    <p class="!leading-[1.6]">
                        Explore the funnel setups successful brands are using — and how you can apply them to your campaigns.
                    </p>
                </div>
            </div>
            <div>
                <a routerLink="/marketing-demo/blog-details" class="block rounded-[25px] mb-[20px] md:mb-[25px]">
                    <img src="images/marketing/blogs/blog6.jpg" class="rounded-[25px] inline-block" alt="blog-image">
                </a>
                <div class="lg:px-[15px] xl:px-[25px]">
                    <h3 class="!font-medium !text-lg md:!text-[20px] lg:!text-xl text-gray-700 dark:text-gray-100 !mb-[12px] md:!mb-[15px] lg:!mb-[20px] !leading-[1.2]">
                        <a routerLink="/marketing-demo/blog-details" class="text-gray-700 dark:text-gray-100 hover:text-orange-600 transition-all">
                            From Leads to Loyalty: Mastering the Customer Auth
                        </a>
                    </h3>
                    <p class="!leading-[1.6]">
                        Learn how consolidating your marketing stack improves performance, saves time, and boosts ROI.
                    </p>
                </div>
            </div>
            <div>
                <a routerLink="/marketing-demo/blog-details" class="block rounded-[25px] mb-[20px] md:mb-[25px]">
                    <img src="images/marketing/blogs/blog7.jpg" class="rounded-[25px] inline-block" alt="blog-image">
                </a>
                <div class="lg:px-[15px] xl:px-[25px]">
                    <h3 class="!font-medium !text-lg md:!text-[20px] lg:!text-xl text-gray-700 dark:text-gray-100 !mb-[12px] md:!mb-[15px] lg:!mb-[20px] !leading-[1.2]">
                        <a routerLink="/marketing-demo/blog-details" class="text-gray-700 dark:text-gray-100 hover:text-orange-600 transition-all">
                            Stop Guessing: How to Let Data Guide Marketing Move
                        </a>
                    </h3>
                    <p class="!leading-[1.6]">
                        Discover why real-time data is the new creative and how teams are shifting to smarter, measurable campaigns.
                    </p>
                </div>
            </div>
            <div>
                <a routerLink="/marketing-demo/blog-details" class="block rounded-[25px] mb-[20px] md:mb-[25px]">
                    <img src="images/marketing/blogs/blog8.jpg" class="rounded-[25px] inline-block" alt="blog-image">
                </a>
                <div class="lg:px-[15px] xl:px-[25px]">
                    <h3 class="!font-medium !text-lg md:!text-[20px] lg:!text-xl text-gray-700 dark:text-gray-100 !mb-[12px] md:!mb-[15px] lg:!mb-[20px] !leading-[1.2]">
                        <a routerLink="/marketing-demo/blog-details" class="text-gray-700 dark:text-gray-100 hover:text-orange-600 transition-all">
                            What Most Teams Get Wrong About Marketing Automation
                        </a>
                    </h3>
                    <p class="!leading-[1.6]">
                        Explore the funnel setups successful brands are using — and how you can apply them to your campaigns.
                    </p>
                </div>
            </div>
            <div>
                <a routerLink="/marketing-demo/blog-details" class="block rounded-[25px] mb-[20px] md:mb-[25px]">
                    <img src="images/marketing/blogs/blog9.jpg" class="rounded-[25px] inline-block" alt="blog-image">
                </a>
                <div class="lg:px-[15px] xl:px-[25px]">
                    <h3 class="!font-medium !text-lg md:!text-[20px] lg:!text-xl text-gray-700 dark:text-gray-100 !mb-[12px] md:!mb-[15px] lg:!mb-[20px] !leading-[1.2]">
                        <a routerLink="/marketing-demo/blog-details" class="text-gray-700 dark:text-gray-100 hover:text-orange-600 transition-all">
                            Turn Strategy into Revenue: The Marketer’s Playbook
                        </a>
                    </h3>
                    <p class="!leading-[1.6]">
                        Learn how consolidating your marketing stack improves performance, saves time, and boosts ROI.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div
        class="absolute top-0 left-0 right-0 bottom-0 bg-cover bg-no-repeat bg-top -z-[1] dark:hidden"
        style="background: linear-gradient(180deg, #FFEFE1 0%, #FFF 100%);"
    ></div>
    <div class="absolute top-[70px] md:top-[84px] lg:top-[91px] left-0 right-0 -z-[1]">
        <img src="images/marketing/perspective-grid.png" class="inline-block" alt="perspective-grid">
    </div>
</div>