<mat-card class="patients-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content class="d-flex justify-content-between">
        <div class="title">
            <span class="d-block">
                Patients
            </span>
            <h2>
                334
            </h2>
            <span class="trezo-badge up with-border">
                +7%
            </span>
        </div>
        <div class="icon">
            <img src="images/icons/examination.svg" alt="examination">
        </div>
    </mat-card-content>
</mat-card>