<mat-card class="appointments-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content class="d-flex justify-content-between">
        <div class="title">
            <span class="d-block">
                Appointments
            </span>
            <h2>
                32
            </h2>
            <span class="trezo-badge down with-border">
                -0.04%
            </span>
        </div>
        <div class="icon">
            <img src="images/icons/add-event.svg" alt="add-event">
        </div>
    </mat-card-content>
</mat-card>