<!-- Blog -->
<div
    class="blog-area pt-180 pb-155"
    [class.component-dark]="toggleService.isLandingDark()"
    [class.component-rtl]="toggleService.isLandingRtlEnabled()"
>
    <div class="container">
        <div class="ecommerce-section-title text-center">
            <span class="sub-title d-inline-block">
                From the Blog
            </span>
            <h2 class="mx-auto">
                Learn to Sell Smarter
            </h2>
            <p>
                Expert tips, growth guides, and eCommerce trends — fresh every week.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="image d-block">
                        <img src="images/ecommerce/blogs/blog1.jpg" alt="blog-image">
                    </a>
                    <ul class="p-0 list-unstyled">
                        <li class="position-relative d-inline-block">
                            <i class="ri-user-line"></i>
                            By: Trezo
                        </li>
                        <li class="position-relative d-inline-block">
                            <i class="ri-calendar-line"></i>
                            April 13, 2025
                        </li>
                    </ul>
                    <h3>
                        <a routerLink="/blog-details">
                            eCommerce Metrics That Matter in 2025
                        </a>
                    </h3>
                    <p>
                        Understand which numbers to watch and why they matter for growth.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="image d-block">
                        <img src="images/ecommerce/blogs/blog2.jpg" alt="blog-image">
                    </a>
                    <ul class="p-0 list-unstyled">
                        <li class="position-relative d-inline-block">
                            <i class="ri-user-line"></i>
                            By: Trezo
                        </li>
                        <li class="position-relative d-inline-block">
                            <i class="ri-calendar-line"></i>
                            April 12, 2025
                        </li>
                    </ul>
                    <h3>
                        <a routerLink="/blog-details">
                            How to Design a Product Page That Converts
                        </a>
                    </h3>
                    <p>
                        Boost sales with smarter UX and persuasive content.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="image d-block">
                        <img src="images/ecommerce/blogs/blog3.jpg" alt="blog-image">
                    </a>
                    <ul class="p-0 list-unstyled">
                        <li class="position-relative d-inline-block">
                            <i class="ri-user-line"></i>
                            By: Trezo
                        </li>
                        <li class="position-relative d-inline-block">
                            <i class="ri-calendar-line"></i>
                            April 11, 2025
                        </li>
                    </ul>
                    <h3>
                        <a routerLink="/blog-details">
                            Avoid These 5 Inventory Mistakes
                        </a>
                    </h3>
                    <p>
                        Save money, reduce churn, and improve operations.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="image d-block">
                        <img src="images/ecommerce/blogs/blog4.jpg" alt="blog-image">
                    </a>
                    <ul class="p-0 list-unstyled">
                        <li class="position-relative d-inline-block">
                            <i class="ri-user-line"></i>
                            By: Trezo
                        </li>
                        <li class="position-relative d-inline-block">
                            <i class="ri-calendar-line"></i>
                            April 13, 2025
                        </li>
                    </ul>
                    <h3>
                        <a routerLink="/blog-details">
                            Boosting AOV: Proven Upselling Tactics
                        </a>
                    </h3>
                    <p>
                        Understand which numbers to watch and why they matter for growth.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="image d-block">
                        <img src="images/ecommerce/blogs/blog5.jpg" alt="blog-image">
                    </a>
                    <ul class="p-0 list-unstyled">
                        <li class="position-relative d-inline-block">
                            <i class="ri-user-line"></i>
                            By: Trezo
                        </li>
                        <li class="position-relative d-inline-block">
                            <i class="ri-calendar-line"></i>
                            April 12, 2025
                        </li>
                    </ul>
                    <h3>
                        <a routerLink="/blog-details">
                            The Secret to Faster Checkout Experiences
                        </a>
                    </h3>
                    <p>
                        Boost sales with smarter UX and persuasive content.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="image d-block">
                        <img src="images/ecommerce/blogs/blog6.jpg" alt="blog-image">
                    </a>
                    <ul class="p-0 list-unstyled">
                        <li class="position-relative d-inline-block">
                            <i class="ri-user-line"></i>
                            By: Trezo
                        </li>
                        <li class="position-relative d-inline-block">
                            <i class="ri-calendar-line"></i>
                            April 11, 2025
                        </li>
                    </ul>
                    <h3>
                        <a routerLink="/blog-details">
                            Mobile Commerce Trends to Watch
                        </a>
                    </h3>
                    <p>
                        Save money, reduce churn, and improve operations.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="image d-block">
                        <img src="images/ecommerce/blogs/blog7.jpg" alt="blog-image">
                    </a>
                    <ul class="p-0 list-unstyled">
                        <li class="position-relative d-inline-block">
                            <i class="ri-user-line"></i>
                            By: Trezo
                        </li>
                        <li class="position-relative d-inline-block">
                            <i class="ri-calendar-line"></i>
                            April 13, 2025
                        </li>
                    </ul>
                    <h3>
                        <a routerLink="/blog-details">
                            How to Optimize Product Listings for SEO
                        </a>
                    </h3>
                    <p>
                        Understand which numbers to watch and why they matter for growth.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="image d-block">
                        <img src="images/ecommerce/blogs/blog8.jpg" alt="blog-image">
                    </a>
                    <ul class="p-0 list-unstyled">
                        <li class="position-relative d-inline-block">
                            <i class="ri-user-line"></i>
                            By: Trezo
                        </li>
                        <li class="position-relative d-inline-block">
                            <i class="ri-calendar-line"></i>
                            April 12, 2025
                        </li>
                    </ul>
                    <h3>
                        <a routerLink="/blog-details">
                            Crafting High-Converting Email Campaigns
                        </a>
                    </h3>
                    <p>
                        Boost sales with smarter UX and persuasive content.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <a routerLink="/blog-details" class="image d-block">
                        <img src="images/ecommerce/blogs/blog9.jpg" alt="blog-image">
                    </a>
                    <ul class="p-0 list-unstyled">
                        <li class="position-relative d-inline-block">
                            <i class="ri-user-line"></i>
                            By: Trezo
                        </li>
                        <li class="position-relative d-inline-block">
                            <i class="ri-calendar-line"></i>
                            April 11, 2025
                        </li>
                    </ul>
                    <h3>
                        <a routerLink="/blog-details">
                            Streamlining Returns to Improve Customer Loyalty
                        </a>
                    </h3>
                    <p>
                        Save money, reduce churn, and improve operations.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog -->

<app-cta />