<div class="bg-[#f6f5f3] dark:bg-[#0e1321] py-[70px] md:py-[90px] lg:py-[110px] xl:py-[150px] 2xl:py-[180px]">
    <div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1308px] mx-auto px-[12px]">
        <div class="text-center mx-auto md:max-w-[500px] mb-[30px] md:mb-[40px] lg:mb-[50px] xl:mb-[60px]">
            <div class="md:text-[15px] lg:text-md py-[4px] px-[17px] md:px-[18px] bg-[#ffef99] dark:bg-[#0a0e19] rounded-[100px] text-gray-900 dark:text-gray-200 inline-block">
                <div class="flex items-center gap-[8px] md:gap-[10px]">
                    <img src="images/lms-courses/ico.svg"alt="ico">
                    Popular Courses
                </div>
            </div>
            <h2 class="!text-xl md:!text-3xl lg:!text-4xl xl:!text-5xl -tracking-[1px] mt-[15px] !mb-0 !text-gray-800 dark:!text-gray-100">
                Top-Rated Courses to Kickstart Your Journey
            </h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[25px]">
            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course2.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Data Science with Python
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.7 (980 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $69
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        38 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        6,300+ Enrolled
                    </li>
                </ul>
            </div>
            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course3.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Graphic Design Masterclass
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.9 (10,200 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $99
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        52 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        10,200+ Enrolled
                    </li>
                </ul>
            </div>
            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course4.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Mindfulness & Stress Management
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.0 (750 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $79
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        20 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        4,00+ Enrolled
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-[35px] md:mt-[50px] lg:mt-[70px]">
            <a routerLink="/lms-courses-demo/courses" class="inline-block py-[10px] md:py-[12px] px-[17px] md:px-[20px] bg-primary-600 hover:bg-primary-500 text-white md:text-[15px] lg:text-md font-medium rounded-md transition-all">
                <span class="block relative ltr:pl-[30px] rtl:pr-[30px] ltr:md:pl-[34px] rtl:md:pr-[34px]">
                    <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-[22px] md:!text-[24px]">
                        school
                    </i>
                    Browse All Courses
                </span>
            </a>
        </div>
    </div>
</div>