<mat-card class="youtube-subscribers-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <img src="images/icons/youtube.svg" alt="youtube">
        <h3 class="fw-medium">
            84.7k
        </h3>
        <span class="d-block">
            Subscribers
        </span>
        <div class="info d-flex align-items-center">
            <span class="d-block text-body">
                This month
            </span>
            <span class="trezo-badge position-relative fw-normal down with-border">
                <i class="ri-arrow-down-line"></i>
                5.2%
            </span>
        </div>
    </mat-card-content>
</mat-card>