.dashboard-showcase-image {
    border-radius: 25px;
    max-width: 521px;

    img {
        border-radius: 25px;
    }
}
.dashboard-showcase-content {
    .sub-title {
        background-color: #ffe8d4;
        color: var(--orangeColor);
        border-radius: 100px;
        padding: 6.5px 15px;
        margin-bottom: 12px;
    }
    h2 {
        letter-spacing: -1px;
        margin-bottom: 17px;
        max-width: 545px;
        font-size: 40px;
    }
    .features-list {
        margin: {
            bottom: 40px;
            top: 25px;
        };
        .item {
            color: var(--blackColor);
            margin-top: 15px;
            font-size: 18px;
            gap: 12px;

            .icon {
                width: 29px;
                height: 29px;
                color: var(--whiteColor);
                background-color: var(--successColor);
            }
        }
    }
    .text-md {
        font-size: 16px;
        color: var(--blackColor);
    }
}
.component-dark {
    .dashboard-showcase-content {
        .sub-title {
            background-color: #1a1919;
        }
        .features-list {
            .item {
                color: var(--whiteColor);
            }
        }
        .text-md {
            color: var(--whiteColor);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .dashboard-showcase-image {
        max-width: 100%;
        margin-bottom: 25px;
    }
    .dashboard-showcase-content {
        h2 {
            letter-spacing: normal;
            margin-bottom: 10px;
            max-width: 100%;
            font-size: 24px;
        }
        .features-list {
            margin: {
                bottom: 20px;
                top: -10px;
            };
            .item {
                font-size: 14px;
                gap: 10px;
    
                .icon {
                    width: 23px;
                    height: 23px;
                }
            }
        }
        .text-md {
            font-size: 13px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .dashboard-showcase-image {
        max-width: 100%;
        margin-bottom: 25px;
    }
    .dashboard-showcase-content {
        h2 {
            margin-bottom: 10px;
            max-width: 100%;
            font-size: 32px;
        }
        .features-list {
            margin: {
                bottom: 30px;
                top: 0;
            };
            .item {
                font-size: 15px;
    
                .icon {
                    width: 27px;
                    height: 27px;
                }
            }
        }
        .text-md {
            font-size: 14px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .dashboard-showcase-image {
        max-width: 100%;
    }
    .dashboard-showcase-content {
        h2 {
            margin-bottom: 15px;
            max-width: 100%;
            font-size: 36px;
        }
        .features-list {
            margin: {
                bottom: 30px;
                top: 0;
            };
            .item {
                font-size: 16px;
            }
        }
        .text-md {
            font-size: 15px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}