<div class="py-[70px] md:py-[90px] lg:py-[110px] xl:py-[140px]">
    <div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1308px] mx-auto px-[12px]">
        <div class="mb-[30px] md:mb-[40px] lg:mb-[50px]">
            <h2 class="!text-xl md:!text-3xl !font-semibold -tracking-[1px] mt-[15px] !mb-0 !text-gray-800 dark:!text-gray-100">
                Courses You May Like
            </h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[25px]">
            <div class="bg-white dark:bg-[#0a0e19] border border-gray-200 dark:border-[#202c4b] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course4.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Mindfulness & Stress Management
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.0 (750 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $79
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        20 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        4,00+ Enrolled
                    </li>
                </ul>
            </div>
            <div class="bg-white dark:bg-[#0a0e19] border border-gray-200 dark:border-[#202c4b] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course9.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Financial Planning & Investing
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.5 (1,310 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $79
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        32 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        6,800+ Enrolled
                    </li>
                </ul>
            </div>
            <div class="bg-white dark:bg-[#0a0e19] border border-gray-200 dark:border-[#202c4b] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course7.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Digital Marketing Mastery
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.7 (1,980 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $79
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        35 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        11,00+ Enrolled
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>