<!-- Welcome -->
<mat-card class="sa-welcome-card border-radius d-block border-0 shadow-none pb-0">
    <mat-card-content>
        <div class="row">
            <div class="col-md-7">
                <div class="content">
                    <span class="d-block fw-medium">
                        Hello Olivia ✋
                    </span>
                    <h1 class="mb-0 fw-normal text-white">
                        Welcome To Trezo – <strong>Your Store</strong>!
                    </h1>
                </div>
            </div>
            <div class="col-md-5">
                <div class="image">
                    <img src="images/store.png" alt="image">
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<!-- Stats -->
<div class="sa-stats position-relative">
    <app-stats />
</div>