<div class="pt-[70px] md:pt-[90px] lg:pt-[110px] xl:pt-[150px] 2xl:pt-[180px]">
    <div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1308px] mx-auto px-[12px]">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px] items-center">
            <div class="xl:max-w-[521px] relative">
                <img src="images/marketing/happy-woman.jpg" alt="happy-woman" class="inline-block rounded-[15px]">
                <img src="images/marketing/total-revenue.jpg" class="inline-block rounded-md max-w-[200px] md:max-w-[325px] absolute ltr:right-[15px] rtl:left-[15px] bottom-[15px] ltr:md:right-[35px] rtl:md:left-[35px] md:bottom-[35px]" alt="total-revenue">
            </div>
            <div>
                <span class="inline-block py-[4.5px] px-[15px] rounded-[100px] bg-orange-100 dark:bg-[#0a0e19] text-orange-700 mb-[12px]">
                    About Us
                </span>
                <h2 class="!text-gray-900 dark:!text-white md:-tracking-[1px] !font-medium !text-xl md:!text-3xl lg:!text-4xl xl:!text-5xl xl:max-w-[520px] !leading-[1.2] !mb-[10px] lg:!mb-[17px]">
                    Empowering Marketers to Work Smarter, Not Harder
                </h2>
                <p class="!leading-[1.6]">
                    At Trezo, we believe that great marketing starts with clarity. That’s why we built an all-in-one platform that brings strategy, execution, and analytics together — so you can focus less on juggling tools and more on driving results.
                </p>
                <div class="my-[20px] md:my-[30px] xl:my-[40px]">
                    <div class="grid grid-cols-2 gap-[20px] md:gap-[30px] xl:gap-[40px]">
                        <div class="relative ltr:pl-[15px] rtl:pr-[15px] ltr:md:pl-[20px] rtl:md:pr-[20px]">
                            <div class="w-px absolute top-0 bottom-0 ltr:left-0 rtl:right-0 bg-orange-600"></div>
                            <h3 class="!leading-none !font-medium md:-tracking-[1px] !text-2xl md:!text-3xl lg:!text-4xl !text-gray-900 dark:!text-white !mb-[5px]">
                                50,000+
                            </h3>
                            <span class="block">
                                Marketing Campaigns
                            </span>
                        </div>
                        <div class="relative ltr:pl-[15px] rtl:pr-[15px] ltr:md:pl-[20px] rtl:md:pr-[20px]">
                            <div class="w-px absolute top-0 bottom-0 ltr:left-0 rtl:right-0 bg-orange-600"></div>
                            <h3 class="!leading-none !font-medium md:-tracking-[1px] !text-2xl md:!text-3xl lg:!text-4xl !text-gray-900 dark:!text-white !mb-[5px]">
                                80+
                            </h3>
                            <span class="block">
                                Industries Served
                            </span>
                        </div>
                        <div class="relative ltr:pl-[15px] rtl:pr-[15px] ltr:md:pl-[20px] rtl:md:pr-[20px]">
                            <div class="w-px absolute top-0 bottom-0 ltr:left-0 rtl:right-0 bg-orange-600"></div>
                            <h3 class="!leading-none !font-medium md:-tracking-[1px] !text-2xl md:!text-3xl lg:!text-4xl !text-gray-900 dark:!text-white !mb-[5px]">
                                99.9%
                            </h3>
                            <span class="block">
                                Platform Uptime
                            </span>
                        </div>
                        <div class="relative ltr:pl-[15px] rtl:pr-[15px] ltr:md:pl-[20px] rtl:md:pr-[20px]">
                            <div class="w-px absolute top-0 bottom-0 ltr:left-0 rtl:right-0 bg-orange-600"></div>
                            <h3 class="!leading-none !font-medium md:-tracking-[1px] !text-2xl md:!text-3xl lg:!text-4xl !text-gray-900 dark:!text-white !mb-[5px]">
                                24/7
                            </h3>
                            <span class="block">
                                Customer Support
                            </span>
                        </div>
                    </div>
                </div>
                <p class="!leading-[1.6] text-gray-900 dark:text-gray-100 font-medium md:text-[15px] lg:text-md">
                    We’re not just another dashboard — we’re your partner in growth.
                </p>
            </div>
        </div>
    </div>
</div>