<app-page-banner
    [pageTitle]="'Courses'"
/>

<!-- Courses -->
<div class="bg-[#f6f5f3] dark:bg-[#0e1321] py-[70px] md:py-[90px] lg:py-[110px] xl:py-[120px]">
    <div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1308px] mx-auto px-[12px]">
        <div class="mb-[20px] md:mb-[30px] lg:mb-[40px] xl:mb-[50px]">
            <a routerLink="." class="md:text-[15px] lg:text-md font-medium rounded-[100px] inline-block py-[8px] md:py-[10px] px-[20px] md:px-[25px] ltr:mr-[13px] rtl:ml-[13px] ltr:last:mr-0 rtl:last:ml-0 mb-[10px] transition-all bg-primary-500 text-white">
                Business & Management
            </a>
            <a routerLink="." class="md:text-[15px] lg:text-md font-medium text-gray-700 dark:text-gray-100 bg-white dark:bg-[#0a0e19] rounded-[100px] inline-block py-[8px] md:py-[10px] px-[20px] md:px-[25px] ltr:mr-[13px] rtl:ml-[13px] ltr:last:mr-0 rtl:last:ml-0 mb-[10px] transition-all hover:bg-primary-500 hover:text-white">
                Technology & Coding
            </a>
            <a routerLink="." class="md:text-[15px] lg:text-md font-medium text-gray-700 dark:text-gray-100 bg-white dark:bg-[#0a0e19] rounded-[100px] inline-block py-[8px] md:py-[10px] px-[20px] md:px-[25px] ltr:mr-[13px] rtl:ml-[13px] ltr:last:mr-0 rtl:last:ml-0 mb-[10px] transition-all hover:bg-primary-500 hover:text-white">
                Creative Arts & Design
            </a>
            <a routerLink="." class="md:text-[15px] lg:text-md font-medium text-gray-700 dark:text-gray-100 bg-white dark:bg-[#0a0e19] rounded-[100px] inline-block py-[8px] md:py-[10px] px-[20px] md:px-[25px] ltr:mr-[13px] rtl:ml-[13px] ltr:last:mr-0 rtl:last:ml-0 mb-[10px] transition-all hover:bg-primary-500 hover:text-white">
                Personal Development
            </a>
            <a routerLink="." class="md:text-[15px] lg:text-md font-medium text-gray-700 dark:text-gray-100 bg-white dark:bg-[#0a0e19] rounded-[100px] inline-block py-[8px] md:py-[10px] px-[20px] md:px-[25px] ltr:mr-[13px] rtl:ml-[13px] ltr:last:mr-0 rtl:last:ml-0 mb-[10px] transition-all hover:bg-primary-500 hover:text-white">
                Health & Wellness
            </a>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[25px]">
            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course2.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Data Science with Python
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.7 (980 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $69
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        38 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        6,300+ Enrolled
                    </li>
                </ul>
            </div>
            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course3.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Graphic Design Masterclass
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.9 (10,200 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $99
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        52 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        10,200+ Enrolled
                    </li>
                </ul>
            </div>
            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course4.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Mindfulness & Stress Management
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.0 (750 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $79
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        20 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        4,00+ Enrolled
                    </li>
                </ul>
            </div>
            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course5.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Mobile App Development
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.8 (1,120 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $49
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        40 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        7,800+ Enrolled
                    </li>
                </ul>
            </div>
            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course6.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Introduction Machine Learning
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.6 (2,340 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $99
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        50 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        14,500+ Enrolled
                    </li>
                </ul>
            </div>
            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course7.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Digital Marketing Mastery
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.7 (1,980 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $79
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        35 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        11,00+ Enrolled
                    </li>
                </ul>
            </div>
            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course8.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Video Editing - Adobe Premiere Pro
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.9 (870 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $69
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        28 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        4,900+ Enrolled
                    </li>
                </ul>
            </div>
            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course9.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Financial Planning & Investing
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.5 (1,310 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $79
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        32 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        6,800+ Enrolled
                    </li>
                </ul>
            </div>
            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                    <img src="images/lms-courses/courses/course10.jpg" alt="course-image" class="rounded-[10px] inline-block">
                </a>
                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-800 dark:text-gray-100 transition-all hover:text-primary-500">
                        Excel for Data Analysis
                    </a>
                </h3>
                <div class="flex items-center gap-[8px]">
                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <span class="block lg:text-md leading-none">
                        4.6 (9,200 ratings)
                    </span>
                </div>
                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                    $39
                </div>
                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            book_ribbon
                        </i>
                        30 Lessons
                    </li>
                    <li class="relative inline-block">
                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                    </li>
                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                            group
                        </i>
                        2,100+ Enrolled
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Courses -->

<app-how-it-works />

<app-cta />

<app-pricing />