@use "../common/blog/blog.component.scss";

.bg-image-area {
    padding-top: 175px;
    background: linear-gradient(180deg, #FFEFE1 0%, #FFFFFF 110%);
    
    .shape {
        left: 0;
        right: 0;
        top: 91px;
        z-index: -1;
        position: absolute;
    }
    &.component-dark {
        background: unset;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .bg-image-area {
        padding-top: 145px;

        .shape {
            top: 70px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .bg-image-area {
        padding-top: 175px;

        .shape {
            top: 84px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .bg-image-area {
        padding-top: 190px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}