<!-- Welcome -->
<app-welcome />

<div class="mt-[25px] xl:-mt-[67px]">

    <!-- Stats -->
    <app-stats />

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
        <div class="lg:col-span-2">

            <!-- Total Revenue -->
            <app-total-revenue />

        </div>
        <div class="lg:col-span-1">

            <!-- Top Channels -->
            <app-top-channels />

        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
        <div class="lg:col-span-1">

            <!-- Recent Clients -->
            <app-recent-clients />

        </div>
        <div class="lg:col-span-2">

            <!-- My Featured Listings -->
            <app-my-featured-listings />

        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
        <div class="lg:col-span-2">

            <!-- Revenue Goal Progress -->
            <app-revenue-goal-progress />

        </div>
        <div class="lg:col-span-1">

            <!-- Properties By Country -->
            <app-properties-by-country />

        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-[25px] mb-[25px]">
        <div class="lg:col-span-1">
            
            <!-- Mobile App -->
            <app-mobile-app />

        </div>
        <div class="lg:col-span-3">
            
            <!-- Latest Transactions -->
            <app-latest-transactions />

        </div>
    </div>
        
    <!-- Client Ratings -->
    <app-client-ratings />

</div>