/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@custom-variant dark (&:where([class=dark], [class=dark] *));

@theme {
    --font-body: "Inter", serif;
    --text-xs: 12px;
    --text-sm: 13px;
    --text-base: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 24px;
    --text-2xl: 28px;
    --text-3xl: 32px;
    --text-4xl: 36px;
    --text-5xl: 40px;
    --color-white: #ffffff;
    --color-black: #3A4252;
    --color-dark: #000000;
    --color-primary-50: #ECF0FF;
    --color-primary-100: #DDE4FF;
    --color-primary-200: #C2CDFF;
    --color-primary-300: #9CAAFF;
    --color-primary-400: #757DFF;
    --color-primary-500: #605DFF;
    --color-primary-600: #4936F5;
    --color-primary-700: #3E2AD8;
    --color-primary-800: #3225AE;
    --color-primary-900: #2D2689;
    --color-secondary-50: #EEF6FF;
    --color-secondary-100: #DAEBFF;
    --color-secondary-200: #BDDCFF;
    --color-secondary-300: #90C7FF;
    --color-secondary-400: #5DA8FF;
    --color-secondary-500: #3584FC;
    --color-secondary-600: #1F64F1;
    --color-secondary-700: #174EDE;
    --color-secondary-800: #1940B4;
    --color-secondary-900: #1A3A8E;
    --color-purple-50: #FAF5FF;
    --color-purple-100: #F3E8FF;
    --color-purple-200: #E9D5FF;
    --color-purple-300: #D7B5FD;
    --color-purple-400: #BF85FB;
    --color-purple-500: #AD63F6;
    --color-purple-600: #9135E8;
    --color-purple-700: #7C24CC;
    --color-purple-800: #6A22A7;
    --color-purple-900: #571D86;
    --color-success-50: #eeffe5;
    --color-success-100: #d8ffc8;
    --color-success-200: #b2ff97;
    --color-success-300: #82fc5a;
    --color-success-400: #58f229;
    --color-success-500: #37d80a;
    --color-success-600: #25b003;
    --color-success-700: #1e8308;
    --color-success-800: #1d670d;
    --color-success-900: #1a5710;
    --color-orange-50: #fff5ed;
    --color-orange-100: #ffe8d4;
    --color-orange-200: #ffcea9;
    --color-orange-300: #ffaa72;
    --color-orange-400: #fe7a36;
    --color-orange-500: #fd5812;
    --color-orange-600: #ee3e08;
    --color-orange-700: #c52b09;
    --color-orange-800: #9c2410;
    --color-orange-900: #7e2010;
    --color-danger-50: #fff2f0;
    --color-danger-100: #ffe1dd;
    --color-danger-200: #ffc8c0;
    --color-danger-300: #ffa294;
    --color-danger-400: #ff6d57;
    --color-danger-500: #FF4023;
    --color-danger-600: #ec1f00;
    --color-danger-700: #d71c00;
    --color-danger-800: #b11a03;
    --color-danger-900: #921c0a;
    --color-gray-50: #f6f7f9;
    --color-gray-100: #eceef2;
    --color-gray-200: #d5d9e2;
    --color-gray-300: #b1bbc8;
    --color-gray-400: #8695aa;
    --color-gray-500: #64748b;
    --color-gray-600: #526077;
    --color-gray-700: #434e61;
    --color-gray-800: #3a4252;
    --color-gray-900: #23272e;
    --color-warning-50: #fff8e1;
    --color-warning-100: #ffecb3;
    --color-warning-200: #ffe082;
    --color-warning-300: #ffd54f;
    --color-warning-400: #ffca28;
    --color-warning-500: #ffc107;
    --color-warning-600: #ffb300;
    --color-warning-700: #ffa000;
    --color-warning-800: #ff8f00;
    --color-warning-900: #ff6f00;
    --color-info-50: #e1f7fe;
    --color-info-100: #b3ecfc;
    --color-info-200: #80e0fa;
    --color-info-300: #48d3f5;
    --color-info-400: #0dcaf0;
    --color-info-500: #00c1eb;
    --color-info-600: #00b1d7;
    --color-info-700: #009cbb;
    --color-info-800: #0088a2;
    --color-info-900: #006574;
    --shadow-3xl: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/** Body */
body {
    @apply font-body text-sm md:text-base text-gray-500 bg-gray-50 leading-normal dark:bg-[#0a0e19] dark:text-gray-400;
}

/** Paragraph */
p {
    @apply mb-[15px] leading-[1.8];

    &:last-child {
        @apply mb-0;
    }
}

/** Heading */
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, .display-6, .display-5, .display-4, .display-3, .display-2, .display-1 {
    @apply text-black font-bold leading-tight mb-[10px] dark:text-white;
}
.h6, h6, .display-6 {
    @apply text-base;
}
.h5, h5, .display-5 {
    @apply text-md md:text-lg;
}
.h4, h4, .display-4 {
    @apply text-xl;
}
.h3, h3, .display-3 {
    @apply text-2xl;
}
.h2, h2, .display-2 {
    @apply text-3xl;
}
.h1, h1, .display-1 {
    @apply text-4xl;
}

/** Button */
button {
    @apply cursor-pointer;
}

/** Navbar */
#navbar {
    &.is-sticky {
        @apply z-[999] bg-white dark:bg-dark;

        &.lms-navbar {
            @apply py-[15px] md:py-[20px];
        }
        &.marketing-navbar {
            @apply bg-transparent py-0;

            .navbar {
                @apply shadow-sm;
            }
        }
        &.ecommerce-navbar {
            @apply py-[15px] md:py-[20px] bg-black fixed;
        }
    }
    #navbar-burger-menu {
        &.active {
            span {
                &:first-child {
                    transform-origin: 10% 10%;
                    @apply rotate-[45deg];
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    transform-origin: 10% 90%;
                    @apply -rotate-[45deg];
                }
            }
        }
    }
    #navbar-collapse {
        &.active {
            @apply block;
        }
    }
    &.lms-navbar {
        a {
            &.active {
                @apply text-primary-500;
            }
        }
    }
    &.marketing-navbar {
        a {
            &.active {
                @apply text-orange-600;
            }
        }
    }
    &.ecommerce-navbar {
        a {
            &.active {
                @apply text-secondary-200;
            }
        }
    }
}

/** FAQ */
.toc-accordion {
    .toc-accordion-item {
        .toc-accordion-button {
            &.open {
                i {
                    &::before {
                        content: "\ea78";
                    }
                }
            }
        }
        .toc-accordion-collapse {
            @apply hidden;
        
            &.open {
                @apply block;
            }
        }
    }
}

/** Settings */
.rtl-mode-toggle {
    span {
        span {
            @apply left-[5px] rtl:bg-primary-500 rtl:left-[17px];
        }
    }
    &:hover {
        span {
            span {
                @apply bg-primary-500;
            }
        }
    }
}

/** Payment Method */
.checkout-payment-method {
    div {
        &:has(input:checked) {
            @apply border-primary-500 bg-gray-100 dark:bg-dark;
        }
    }
}

/** Tabs */
.trezo-tabs {
    .navs {
        .nav-item {
            .nav-link {
                &::before {
                    content: '';
                    @apply left-0 right-0 bottom-0 h-[2px] absolute transition-all bg-primary-500 opacity-0;
                }
                &.active {
                    @apply text-primary-500;

                    &::before {
                        @apply opacity-100;
                    }
                }
            }
        }
    }
}