<mat-card
    class="recent-bookings-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.component-dark-theme]="themeService.isDark()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Recent Bookings
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button class="card-header-menu bg-gray border-none d-inline-block border-radius">
                {{ formattedDate }}
            </button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-calendar></mat-calendar>
        <div class="bookings-list">
            <ng-scrollbar visibility="visible">
                <div class="room-item position-relative d-flex align-items-center">
                    <a routerLink="." class="image d-block">
                        <img src="images/rooms/room1.jpg" alt="room-image">
                    </a>
                    <div class="content">
                        <h6 class="fw-semibold">
                            <a routerLink=".">
                                Duluxe Room - G - 3215
                            </a>
                        </h6>
                        <span class="d-block text-xs">
                            Booked by <strong class="fw-semibold">Angela Carter</strong>
                        </span>
                        <span class="trezo-badge">
                            10 Dec - 15 Dec
                        </span>
                    </div>
                    <a routerLink="." class="link-btn" mat-button>
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
                <div class="room-item position-relative d-flex align-items-center">
                    <a routerLink="." class="image d-block">
                        <img src="images/rooms/room2.jpg" alt="room-image">
                    </a>
                    <div class="content">
                        <h6 class="fw-semibold">
                            <a routerLink=".">
                                The Garden Suite 101
                            </a>
                        </h6>
                        <span class="d-block text-xs">
                            Booked by <strong class="fw-semibold">Jack Smith</strong>
                        </span>
                        <span class="trezo-badge">
                            12 Dec - 16 Dec
                        </span>
                    </div>
                    <a routerLink="." class="link-btn" mat-button>
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
                <div class="room-item position-relative d-flex align-items-center">
                    <a routerLink="." class="image d-block">
                        <img src="images/rooms/room3.jpg" alt="room-image">
                    </a>
                    <div class="content">
                        <h6 class="fw-semibold">
                            <a routerLink=".">
                                The Tranquil S-02
                            </a>
                        </h6>
                        <span class="d-block text-xs">
                            Booked by <strong class="fw-semibold">Jennifer Anderson</strong>
                        </span>
                        <span class="trezo-badge">
                            15 Dec - 20 Dec
                        </span>
                    </div>
                    <a routerLink="." class="link-btn" mat-button>
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
                <div class="room-item position-relative d-flex align-items-center">
                    <a routerLink="." class="image d-block">
                        <img src="images/rooms/room4.jpg" alt="room-image">
                    </a>
                    <div class="content">
                        <h6 class="fw-semibold">
                            <a routerLink=".">
                                The Queen - X - 231
                            </a>
                        </h6>
                        <span class="d-block text-xs">
                            Booked by <strong class="fw-semibold">Angela Carter</strong>
                        </span>
                        <span class="trezo-badge">
                            11 Dec - 14 Dec
                        </span>
                    </div>
                    <a routerLink="." class="link-btn" mat-button>
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
                <div class="room-item position-relative d-flex align-items-center">
                    <a routerLink="." class="image d-block">
                        <img src="images/rooms/room5.jpg" alt="room-image">
                    </a>
                    <div class="content">
                        <h6 class="fw-semibold">
                            <a routerLink=".">
                                The Velvet - F - 32045
                            </a>
                        </h6>
                        <span class="d-block text-xs">
                            Booked by <strong class="fw-semibold">Skyler White</strong>
                        </span>
                        <span class="trezo-badge">
                            11 Dec - 14 Dec
                        </span>
                    </div>
                    <a routerLink="." class="link-btn" mat-button>
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
                <div class="room-item position-relative d-flex align-items-center">
                    <a routerLink="." class="image d-block">
                        <img src="images/rooms/room1.jpg" alt="room-image">
                    </a>
                    <div class="content">
                        <h6 class="fw-semibold">
                            <a routerLink=".">
                                Duluxe Room - G - 3215
                            </a>
                        </h6>
                        <span class="d-block text-xs">
                            Booked by <strong class="fw-semibold">Angela Carter</strong>
                        </span>
                        <span class="trezo-badge">
                            10 Dec - 15 Dec
                        </span>
                    </div>
                    <a routerLink="." class="link-btn" mat-button>
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
                <div class="room-item position-relative d-flex align-items-center">
                    <a routerLink="." class="image d-block">
                        <img src="images/rooms/room2.jpg" alt="room-image">
                    </a>
                    <div class="content">
                        <h6 class="fw-semibold">
                            <a routerLink=".">
                                The Garden Suite 101
                            </a>
                        </h6>
                        <span class="d-block text-xs">
                            Booked by <strong class="fw-semibold">Jack Smith</strong>
                        </span>
                        <span class="trezo-badge">
                            12 Dec - 16 Dec
                        </span>
                    </div>
                    <a routerLink="." class="link-btn" mat-button>
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
                <div class="room-item position-relative d-flex align-items-center">
                    <a routerLink="." class="image d-block">
                        <img src="images/rooms/room3.jpg" alt="room-image">
                    </a>
                    <div class="content">
                        <h6 class="fw-semibold">
                            <a routerLink=".">
                                The Tranquil S-02
                            </a>
                        </h6>
                        <span class="d-block text-xs">
                            Booked by <strong class="fw-semibold">Jennifer Anderson</strong>
                        </span>
                        <span class="trezo-badge">
                            15 Dec - 20 Dec
                        </span>
                    </div>
                    <a routerLink="." class="link-btn" mat-button>
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
                <div class="room-item position-relative d-flex align-items-center">
                    <a routerLink="." class="image d-block">
                        <img src="images/rooms/room4.jpg" alt="room-image">
                    </a>
                    <div class="content">
                        <h6 class="fw-semibold">
                            <a routerLink=".">
                                The Queen - X - 231
                            </a>
                        </h6>
                        <span class="d-block text-xs">
                            Booked by <strong class="fw-semibold">Angela Carter</strong>
                        </span>
                        <span class="trezo-badge">
                            11 Dec - 14 Dec
                        </span>
                    </div>
                    <a routerLink="." class="link-btn" mat-button>
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
                <div class="room-item position-relative d-flex align-items-center">
                    <a routerLink="." class="image d-block">
                        <img src="images/rooms/room5.jpg" alt="room-image">
                    </a>
                    <div class="content">
                        <h6 class="fw-semibold">
                            <a routerLink=".">
                                The Velvet - F - 32045
                            </a>
                        </h6>
                        <span class="d-block text-xs">
                            Booked by <strong class="fw-semibold">Skyler White</strong>
                        </span>
                        <span class="trezo-badge">
                            11 Dec - 14 Dec
                        </span>
                    </div>
                    <a routerLink="." class="link-btn" mat-button>
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
            </ng-scrollbar>
        </div>
    </mat-card-content>
</mat-card>