<div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1308px] mx-auto px-[12px]">
    <div class="text-center mb-[30px] md:mb-[40px] lg:mb-[50px] xl:mb-[60px] 2xl:mb-[70px]">
        <span class="inline-block py-[4.5px] px-[15px] rounded-[100px] bg-orange-100 dark:bg-[#0a0e19] text-orange-700 mb-[12px]">
            Why Trezo
        </span>
        <h2 class="!text-gray-900 dark:!text-white md:-tracking-[1px] !font-medium !text-xl md:!text-3xl lg:!text-4xl xl:!text-5xl xl:max-w-[540px] mx-auto !leading-[1.2] !mb-[10px] lg:!mb-[12px]">
            Everything You Need to Grow Faster
        </h2>
        <p class="md:text-[15px] lg:text-md !leading-[1.6]">
            From campaign tracking to performance insights — we’ve got you covered.
        </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[25px] mb-[25px]">
        <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] px-[20px] py-[30px] md:px-[25px] md:py-[50px] lg:px-[35px] lg:py-[70px] xl:px-[60px]">
            <div class="ltr:pl-[22px] rtl:pr-[22px] relative z-[1] mb-[30px] md:mb-[50px] lg:mb-[90px]">
                <img src="images/marketing/icons/chart.svg" alt="chart">
                <div class="absolute top-[5px] ltr:left-0 rtl:right-0 bg-orange-50 dark:bg-dark w-[55px] h-[55px] rounded-full -z-[1]"></div>
            </div>
            <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-xl !mb-[15px] md:!mb-[20px] lg:!mb-[25px]">
                Campaign Insights
            </h3>
            <p class="!leading-[1.6]">
                Track real-time performance, spot trends instantly, and optimize campaigns based on smart, visualized data
            </p>
        </div>
        <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] px-[20px] py-[30px] md:px-[25px] md:py-[50px] lg:px-[35px] lg:py-[70px] xl:px-[60px]">
            <div class="ltr:pl-[22px] rtl:pr-[22px] relative z-[1] mb-[30px] md:mb-[50px] lg:mb-[90px]">
                <img src="images/marketing/icons/global.svg" alt="global">
                <div class="absolute top-[5px] ltr:left-0 rtl:right-0 bg-orange-50 dark:bg-dark w-[55px] h-[55px] rounded-full -z-[1]"></div>
            </div>
            <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-xl !mb-[15px] md:!mb-[20px] lg:!mb-[25px]">
                Channel Control
            </h3>
            <p class="!leading-[1.6]">
                Manage all your marketing channels — email, social, ads — from one streamlined platform without switching
            </p>
        </div>
        <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] px-[20px] py-[30px] md:px-[25px] md:py-[50px] lg:px-[35px] lg:py-[70px] xl:px-[60px]">
            <div class="ltr:pl-[22px] rtl:pr-[22px] relative z-[1] mb-[30px] md:mb-[50px] lg:mb-[90px]">
                <img src="images/marketing/icons/conversion.svg" alt="conversion">
                <div class="absolute top-[5px] ltr:left-0 rtl:right-0 bg-orange-50 dark:bg-dark w-[55px] h-[55px] rounded-full -z-[1]"></div>
            </div>
            <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-xl !mb-[15px] md:!mb-[20px] lg:!mb-[25px]">
                Funnel Tracking
            </h3>
            <p class="!leading-[1.6]">
                Visualize how leads flow through your funnel, identify drop-offs, and improve conversions with clear, actionable data.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
        <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] px-[20px] py-[30px] md:px-[25px] md:py-[50px] lg:px-[35px] lg:py-[70px] xl:px-[60px] relative overflow-hidden">
            <div class="md:max-w-[290px]">
                <div class="ltr:pl-[22px] rtl:pr-[22px] relative z-[1] mb-[30px] md:mb-[50px] lg:mb-[90px]">
                    <img src="images/marketing/icons/network.svg" alt="network">
                    <div class="absolute top-[5px] ltr:left-0 rtl:right-0 bg-orange-50 dark:bg-dark w-[55px] h-[55px] rounded-full -z-[1]"></div>
                </div>
                <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-xl !mb-[15px] md:!mb-[20px] lg:!mb-[25px]">
                    Team Workspace
                </h3>
                <p class="!leading-[1.6]">
                    Collaborate with your team in real time using tasks, comments, and shared views to keep everyone aligned.
                </p>
            </div>
            <img src="images/marketing/team-workspace.png" class="inline-block md:absolute md:top-1/2 ltr:md:right-0 rtl:md:left-0 md:-translate-y-1/2 mt-[25px] md:mt-0 lg:max-w-[160px] xl:max-w-full rtl:-scale-x-[1]" alt="team-workspace">
        </div>
        <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] px-[20px] py-[30px] md:px-[25px] md:py-[50px] lg:px-[35px] lg:py-[70px] xl:px-[60px] relative overflow-hidden">
            <div class="md:max-w-[290px]">
                <div class="ltr:pl-[22px] rtl:pr-[22px] relative z-[1] mb-[30px] md:mb-[50px] lg:mb-[90px]">
                    <img src="images/marketing/icons/technology.svg" alt="technology">
                    <div class="absolute top-[5px] ltr:left-0 rtl:right-0 bg-orange-50 dark:bg-dark w-[55px] h-[55px] rounded-full -z-[1]"></div>
                </div>
                <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-xl !mb-[15px] md:!mb-[20px] lg:!mb-[25px]">
                    Seamless Integrations
                </h3>
                <p class="!leading-[1.6]">
                    Connect with your favorite tools through our growing ecosystem of integrations
                </p>
            </div>
            <img src="images/marketing/seamless-integrations.png" class="inline-block md:absolute md:top-1/2 ltr:md:right-0 rtl:md:left-0 md:-translate-y-1/2 mt-[25px] md:mt-0 lg:max-w-[160px] xl:max-w-full rtl:-scale-x-[1]" alt="seamless-integrations">
        </div>
    </div>
</div>