<div class="pt-[145px] md:pt-[175px] lg:pt-[190px] xl:pt-[175px] pb-[70px] md:pb-[90px] lg:pb-[110px] xl:pb-[140px] relative z-[1] overflow-hidden">

    <app-why-trezo />

    <div
        class="absolute top-0 left-0 right-0 bottom-0 bg-cover bg-no-repeat bg-top -z-[1] dark:hidden"
        style="background: linear-gradient(180deg, #FFEFE1 0%, #FFF 100%);"
    ></div>
    <div class="absolute top-[70px] md:top-[84px] lg:top-[91px] left-0 right-0 -z-[1]">
        <img src="images/marketing/perspective-grid.png" class="inline-block" alt="perspective-grid">
    </div>
</div>

<app-dashboard-showcase />

<app-faq />