.lms-section-title {
    margin-bottom: 0;

    .image {
        text-align: end;
        max-width: 436px;
        margin: {
            top: 12px;
            bottom: 50px;
        };
    }
}
.pricing-item {
    padding: 55px 20px;
    border-radius: 25px;
    border: 1px solid #d5d9e2;
    background-color: var(--whiteColor);

    .price {
        font-size: 40px;
        color: var(--blackColor);

        span {
            font-size: 16px;
            color: var(--bodyColor);
        }
    }
    .title {
        font-size: 18px;
        color: var(--primaryColor);
        margin: {
            top: 25px;
            bottom: 30px;
        };
    }
    p {
        font-size: 16px;
    }
    .lms-default-btn {
        &.mat-mdc-button {
            margin-top: 25px;
            background-color: transparent;
            border-color: var(--purpleColor);
            color: var(--purpleColor) !important;

            &:hover {
                color: var(--whiteColor) !important;
                background-color: var(--purpleColor);
            }
        }
    }
}
.col-sm-6 {
    &:nth-child(1) {
        .pricing-item {
            margin-top: 65px;
        }
    }
}
.component-dark {
    .pricing-item {
        border-color: rgba(255, 255, 255, 0.10);
        background-color: #0a0e19;
    
        .price {
            color: var(--whiteColor);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .lms-section-title {
        margin-bottom: 10px;
    
        .image {
            display: none;
        }
        .lms-default-btn {
            margin-top: 17px;
        }
    }
    .pricing-item {
        padding: 30px 20px;
        margin-top: 25px !important;
    
        .price {
            font-size: 32px;
    
            span {
                font-size: 13px;
            }
        }
        .title {
            font-size: 15px;
            margin: {
                top: 15px;
                bottom: 15px;
            };
        }
        p {
            font-size: 13px;
        }
        .lms-default-btn {
            margin-top: 5px;
        }
    }
    .col-sm-6 {
        &:nth-child(1) {
            .pricing-item {
                margin-top: 0;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .lms-section-title {
        margin-bottom: 45px;
    
        .image {
            display: none;
        }
        .lms-default-btn {
            margin-top: 20px;
        }
    }
    .pricing-item {
        padding: 45px 20px;
    
        .price {
            font-size: 35px;
    
            span {
                font-size: 14px;
            }
        }
        .title {
            font-size: 16px;
            margin: {
                top: 20px;
                bottom: 20px;
            };
        }
        p {
            font-size: 14px;
        }
        .lms-default-btn {
            margin-top: 10px;
        }
    }
    .col-sm-6 {
        &:nth-child(1) {
            .pricing-item {
                margin-top: 0;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .lms-section-title {
        .image {
            max-width: 400px;
            margin-bottom: 40px;
        }
    }
    .pricing-item {
        padding: 55px 20px;
    
        .price {
            font-size: 35px;
    
            span {
                font-size: 15px;
            }
        }
        .title {
            font-size: 17px;
            margin: {
                top: 20px;
                bottom: 20px;
            };
        }
        p {
            font-size: 15px;
        }
        .lms-default-btn {
            margin-top: 15px;
        }
    }
    .col-sm-6 {
        &:nth-child(1) {
            .pricing-item {
                margin-top: 55px;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}