<div
    class="pricing-area pb-180"
    [class.component-dark]="toggleService.isLandingDark()"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="lms-section-title">
                    <div class="sub-title d-inline-block">
                        <div class="d-flex align-items-center">
                            <img src="images/lms-courses/ico.svg" alt="ico">
                            Pricing Plans
                        </div>
                    </div>
                    <h2 class="mb-0 fw-bold">
                        Flexible Plans for Every Learner
                    </h2>
                    <div class="image">
                        <img src="images/lms-courses/shapes/shape2.png" alt="shape">
                    </div>
                    <a href="https://trezo-twcss.envytheme.com/" target="_blank" class="lms-default-btn" mat-button>
                        <i class="material-symbols-outlined">
                            school
                        </i>
                        Start Free Trial
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="pricing-item text-center">
                            <div class="price lh-1">
                                $0<span>/monthly</span>
                            </div>
                            <span class="fw-medium d-block title">
                                Free Plan
                            </span>
                            <p>
                                Access to limited courses
                            </p>
                            <a href="https://trezo-twcss.envytheme.com/" target="_blank" class="lms-default-btn" mat-button>
                                <i class="material-symbols-outlined">
                                    person
                                </i>
                                Get Started
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="pricing-item text-center">
                            <div class="price lh-1">
                                $29<span>/monthly</span>
                            </div>
                            <span class="fw-medium d-block title">
                                Pro Plan
                            </span>
                            <p>
                                Unlimited access to all courses
                            </p>
                            <a href="https://trezo-twcss.envytheme.com/" target="_blank" class="lms-default-btn" mat-button>
                                <i class="material-symbols-outlined">
                                    person
                                </i>
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>