<mat-card
    class="new-bookings-card border-radius d-block bg-orange-100 border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.component-dark-theme]="themeService.isDark()"
>
    <mat-card-content class="d-flex d-md-block align-items-center justify-content-between">
        <div>
            <span class="d-block">
                New Bookings
            </span>
            <h1 class="lh-1">
                1540
            </h1>
            <span class="trezo-badge down with-border">
                -4.15%
            </span>
        </div>
        <div class="icon bg-white rounded-circle d-flex align-items-center justify-content-end">
            <img src="images/icons/add-event2.svg" alt="add-event">
        </div>
    </mat-card-content>
</mat-card>