<div class="pt-[125px] md:pt-[160px] lg:pt-[185px] xl:pt-[145px] relative z-[1]">
    <div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1400px] 2xl:max-w-[1705px] mx-auto px-[12px]">
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-[25px] items-center">
            <div class="ltr:md:pr-[100px] rtl:md:pl-[100px] ltr:2xl:pr-[150px] rtl:2xl:pl-[150px] relative xl:-top-[40px] 2xl:-top-[50px]">
                <div class="md:text-[15px] lg:text-md py-[5px] px-[17px] md:px-[19px] inline-block bg-[#ffef99] dark:bg-[#0a0e19] rounded-[100px] text-gray-900 dark:text-gray-300">
                    <span class="block relative ltr:pl-[27px] rtl:pr-[27px] ltr:md:pl-[32px] rtl:md:pr-[32px]">
                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-[20px] md:!text-[22px] text-danger-500">
                            book_ribbon
                        </i>
                        Learn anytime, Anywhere
                    </span>
                </div>
                <h1 class="!text-[30px] md:!text-[45px] lg:!text-[55px] 2xl:!text-[60px] mt-[15px] !mb-[15px] md:!mb-[20px] lg:!mb-[22px] -tracking-[1px] lg:-tracking-[1.5px] !leading-[1.2] !text-gray-800 dark:!text-gray-100">
                    Unlock Your <span class="text-purple-600 font-semibold italic">Potential</span> with Online Learning
                </h1>
                <p class="md:text-[15px] lg:text-lg 2xl:max-w-[630px] !leading-[1.6]">
                    Discover expertly designed courses, flexible learning paths, and a community that supports your goals — all in one powerful platform.
                </p>
                <div class="mt-[20px] md:mt-[30px] lg:mt-[45px]">
                    <a routerLink="/lms-courses-demo/courses" class="inline-block py-[10px] md:py-[12px] px-[17px] md:px-[20px] bg-primary-600 hover:bg-primary-500 text-white md:text-[15px] lg:text-md font-medium rounded-md transition-all">
                        <span class="block relative ltr:pl-[30px] rtl:pr-[30px] ltr:md:pl-[34px] rtl:md:pr-[34px]">
                            <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-[22px] md:!text-[24px]">
                                school
                            </i>
                            Explore Courses
                        </span>
                    </a>
                    <a routerLink="/lms-courses-demo/why-choose-us" class="inline-block relative text-gray-700 dark:text-gray-200 md:text-[15px] lg:text-md font-medium transition-all hover:text-primary-500 ltr:pr-[20px] rtl:pl-[20px] ltr:md:pr-[25px] rtl:md:pl-[25px] ltr:ml-[15px] rtl:mr-[15px] ltr:md:ml-[25px] rtl:md:mr-[25px] ltr:lg:ml-[40px] rtl:lg:mr-[40px]">
                        Learn More <i class="ri-arrow-right-line absolute top-1/2 -translate-y-1/2 ltr:-right-[4px] rtl:-left-[4px] text-[18px] md:text-[22px] rtl:-scale-x-[1]"></i>
                    </a>
                </div>
            </div>
            <div class="mt-[25px] md:mt-[35px] xl:mt-0 ltr:xl:-ml-[100px] rtl:xl:-mr-[100px] ltr:2xl:-ml-[150px] rtl:2xl:-mr-[150px]">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-[25px] lg:gap-[35px]">
                    <div>
                        <div class="relative lg:top-[40px] 2xl:top-[70px] ltr:2xl:ml-[60px] rtl:2xl:mr-[60px]">
                            <div class="bg-white dark:bg-[#0a0e19] rounded-[15px] border border-gray-200 dark:border-[#202c4b] p-[20px] md:p-[25px] lg:p-[30px] 2xl:p-[35px]">
                                <a routerLink="/lms-courses-demo/course-details" class="d-block rounded-[10px]">
                                    <img src="images/lms-courses/courses/course1.jpg" alt="course-image" class="rounded-[10px] inline-block">
                                </a>
                                <h3 class="!text-[18px] md:!text-[19px] lg:!text-[20px] !font-semibold mt-[18px] md:mt-[22px] lg:mt-[28px] !mb-[15px]">
                                    <a routerLink="/lms-courses-demo/course-details" class="text-gray-700 dark:text-gray-100 transition-all hover:text-primary-500">
                                        Full-Stack Web Development
                                    </a>
                                </h3>
                                <div class="flex items-center gap-[8px]">
                                    <div class="flex items-center text-orange-400 leading-none lg:text-md gap-[2px] relative -top-px">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-fill"></i>
                                    </div>
                                    <span class="block lg:text-md leading-none">
                                        4.8 (1,240 ratings)
                                    </span>
                                </div>
                                <div class="mt-[20px] lg:mt-[25px] text-primary-600 leading-none text-md md:text-[20px] font-semibold">
                                    $79
                                </div>
                                <ul class="flex items-center gap-[15px] lg:gap-[20px] 2xl:gap-[25px] md:text-[15px] 2xl:text-md mt-[15px] md:mt-[20px] lg:mt-[22px]">
                                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                                            book_ribbon
                                        </i>
                                        45 Lessons
                                    </li>
                                    <li class="relative inline-block">
                                        <div class="w-[1px] h-[19px] bg-gray-200 dark:bg-[#202c4b]"></div>
                                    </li>
                                    <li class="relative inline-block ltr:pl-[25px] rtl:pr-[25px] ltr:lg:pl-[32px] rtl:lg:pr-[32px] text-gray-700 dark:text-gray-200">
                                        <i class="material-symbols-outlined absolute top-1/2 -translate-y-1/2 ltr:left-0 rtl:right-0 !text-lg lg:!text-xl">
                                            group
                                        </i>
                                        8,500+ Enrolled
                                    </li>
                                </ul>
                            </div>
                            <div class="absolute -top-[20px] lg:-top-[24px] ltr:left-[105px] rtl:right-[105px] -rotate-[8.906deg] py-[4px] px-[18px] md:px-[21px] inline-block md:text-[15px] lg:text-md text-gray-900 dark:text-gray-100 rounded-[100px] bg-secondary-200 dark:bg-[#202c4b]">
                                Featured
                            </div>
                        </div>
                    </div>
                    <div class="ltr:text-right rtl:text-left">
                        <img src="images/lms-courses/woman.png" class="inline-block" alt="banner-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute top-0 ltr:right-[7px] rtl:left-[7px] -z-[1] hidden 2xl:block">
        <img src="images/lms-courses/shapes/shape1.png" alt="shape1">
    </div>
</div>