<div class="cta-area">
    <div class="container">
        <div
            class="cta-inner-area position-relative z-1"
            [class.component-dark]="toggleService.isLandingDark()"
            [class.component-rtl]="toggleService.isLandingRtlEnabled()"
        >
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="cta-content">
                        <h2 class="fw-bold">
                            Join Thousands of Learners Advancing Their Careers
                        </h2>
                        <a routerLink="/lms-courses-demo/courses" class="lms-default-btn" mat-button>
                            <i class="material-symbols-outlined">
                                school
                            </i>
                            Start Learning Now
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cta-image">
                        <img src="images/lms-courses/learning.png" alt="learning-image">
                    </div>
                </div>
            </div>
            <div class="shape1">
                <img src="images/lms-courses/shapes/shape3.png" alt="shape">
            </div>
            <div class="shape2">
                <img src="images/lms-courses/shapes/shape4.png" alt="shape">
            </div>
        </div>
    </div>
</div>