<div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1308px] mx-auto px-[12px]">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px] items-center">
        <div>
            <span class="inline-block py-[4.5px] px-[15px] text-primary-600 bg-primary-50 dark:bg-gray-900 rounded-[100px] mb-[12px] md:!mb-[15px]">
                Dashboard Showcase
            </span>
            <h2 class="!text-gray-900 dark:!text-white !font-medium md:-tracking-[1px] !text-xl md:!text-3xl lg:!text-4xl xl:!text-5xl xl:max-w-[540px] !leading-[1.2] !mb-[11px] md:!mb-[13px] lg:!mb-[15px]">
                See Trezo in Action
            </h2>
            <p class="!leading-[1.6]">
                A live view of your store’s performance — all in one clean dashboard.
            </p>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-[20px] md:gap-[30px] lg:gap-[40px] xl:gap-[50px] mt-[20px] md:mt-[30px] lg:mt-[40px] xl:mt-[70px]">
                <div class="relative ltr:pl-[35px] rtl:pr-[35px] ltr:xl:pl-[45px] rtl:xl:pr-[45px]">
                    <div class="absolute top-[4px] ltr:left-0 rtl:right-0">
                        <img src="images/ecommerce/icons/check.svg" alt="check">
                    </div>
                    <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[8px]">
                        Real-Time Insights
                    </h3>
                    <p class="!leading-[1.6]">
                        View live sales, orders, and traffic without delay.
                    </p>
                </div>
                <div class="relative ltr:pl-[35px] rtl:pr-[35px] ltr:xl:pl-[45px] rtl:xl:pr-[45px]">
                    <div class="absolute top-[4px] ltr:left-0 rtl:right-0">
                        <img src="images/ecommerce/icons/check.svg" alt="check">
                    </div>
                    <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[8px]">
                        Sales Analytics
                    </h3>
                    <p class="!leading-[1.6]">
                        Track revenue, conversion rates, and product performance.
                    </p>
                </div>
                <div class="relative ltr:pl-[35px] rtl:pr-[35px] ltr:xl:pl-[45px] rtl:xl:pr-[45px]">
                    <div class="absolute top-[4px] ltr:left-0 rtl:right-0">
                        <img src="images/ecommerce/icons/check.svg" alt="check">
                    </div>
                    <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[8px]">
                        Inventory Monitoring
                    </h3>
                    <p class="!leading-[1.6]">
                        Get automatic alerts for low or out-of-stock items.
                    </p>
                </div>
                <div class="relative ltr:pl-[35px] rtl:pr-[35px] ltr:xl:pl-[45px] rtl:xl:pr-[45px]">
                    <div class="absolute top-[4px] ltr:left-0 rtl:right-0">
                        <img src="images/ecommerce/icons/check.svg" alt="check">
                    </div>
                    <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[8px]">
                        Customer Behavior
                    </h3>
                    <p class="!leading-[1.6]">
                        Understand how shoppers browse, buy, and return.
                    </p>
                </div>
            </div>
        </div>
        <div class="xl:max-w-[521px] ltr:xl:ml-auto rtl:xl:mr-auto text-center">
            <img src="images/ecommerce/dashboard-showcase.jpg" class="inline-block rtl:-scale-x-100" alt="dashboard-showcase-image">
        </div>
    </div>
</div>