<div
    class="partners-area"
    [class.component-dark]="toggleService.isLandingDark()"
>
    <div class="container">
        <span class="title text-center d-block fw-medium">
            Trezo is the platform behind some of the fastest-growing online brands.
        </span>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-2 col-6 col-sm-3">
                <div class="item text-center">
                    <img src="images/ecommerce/partners/partner1.svg" alt="partner-image">
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-3">
                <div class="item text-center">
                    <img src="images/ecommerce/partners/partner2.svg" alt="partner-image">
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-3">
                <div class="item text-center">
                    <img src="images/ecommerce/partners/partner3.svg" alt="partner-image">
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-3">
                <div class="item text-center">
                    <img src="images/ecommerce/partners/partner4.svg" alt="partner-image">
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-3">
                <div class="item text-center">
                    <img src="images/ecommerce/partners/partner5.svg" alt="partner-image">
                </div>
            </div>
            <div class="col-lg-2 col-6 col-sm-3">
                <div class="item text-center">
                    <img src="images/ecommerce/partners/partner6.svg" alt="partner-image">
                </div>
            </div>
        </div>
    </div>
</div>