<!-- Blog -->
<div class="py-[70px] md:py-[90px] lg:py-[110px] xl:py-[150px] 2xl:py-[180px]">
    <div class="container sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1308px] mx-auto px-[12px]">
        <div class="text-center mb-[35px] md:mb-[45px] lg:mb-[55px] xl:mb-[65px]">
            <span class="inline-block py-[4.5px] px-[15px] text-primary-600 bg-primary-50 dark:bg-gray-900 rounded-[100px] mb-[12px]">
                From the Blog
            </span>
            <h2 class="!text-gray-900 dark:!text-white !font-medium md:-tracking-[1px] !text-xl md:!text-3xl lg:!text-4xl xl:!text-5xl lg:max-w-[480px] xl:max-w-[540px] mx-auto !leading-[1.2] !mb-[11px] md:!mb-[13px] lg:!mb-[15px]">
                Learn to Sell Smarter
            </h2>
            <p class="!leading-[1.6]">
                Expert tips, growth guides, and eCommerce trends — fresh every week.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[25px]">
            <div class="bg-[#f7f7f7] rounded-[15px] p-[20px] md:p-[30px] xl:p-[40px] dark:bg-[#0a0e19]">
                <a routerLink="/blog-details" class="block rounded-[12px] text-center">
                    <img src="images/ecommerce/blogs/blog1.jpg" class="rounded-[12px]" alt="blog-image">
                </a>
                <ul class="mt-[20px] md:mt-[25px] lg:mt-[30px] mb-[15px] lg:mb-[18px]">
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-user-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        By: Trezo
                    </li>
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-calendar-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        April 13, 2025
                    </li>
                </ul>
                <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[15px] lg:!mb-[18px]">
                    <a routerLink="/blog-details" class="text-gray-900 dark:text-white transition-all hover:text-primary-500">
                        eCommerce Metrics That Matter in 2025
                    </a>
                </h3>
                <p class="!leading-[1.6]">
                    Understand which numbers to watch and why they matter for growth.
                </p>
            </div>
            <div class="bg-[#f7f7f7] rounded-[15px] p-[20px] md:p-[30px] xl:p-[40px] dark:bg-[#0a0e19]">
                <a routerLink="/blog-details" class="block rounded-[12px] text-center">
                    <img src="images/ecommerce/blogs/blog2.jpg" class="rounded-[12px]" alt="blog-image">
                </a>
                <ul class="mt-[20px] md:mt-[25px] lg:mt-[30px] mb-[15px] lg:mb-[18px]">
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-user-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        By: Trezo
                    </li>
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-calendar-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        April 12, 2025
                    </li>
                </ul>
                <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[15px] lg:!mb-[18px]">
                    <a routerLink="/blog-details" class="text-gray-900 dark:text-white transition-all hover:text-primary-500">
                        How to Design a Product Page That Converts
                    </a>
                </h3>
                <p class="!leading-[1.6]">
                    Boost sales with smarter UX and persuasive content.
                </p>
            </div>
            <div class="bg-[#f7f7f7] rounded-[15px] p-[20px] md:p-[30px] xl:p-[40px] dark:bg-[#0a0e19]">
                <a routerLink="/blog-details" class="block rounded-[12px] text-center">
                    <img src="images/ecommerce/blogs/blog3.jpg" class="rounded-[12px]" alt="blog-image">
                </a>
                <ul class="mt-[20px] md:mt-[25px] lg:mt-[30px] mb-[15px] lg:mb-[18px]">
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-user-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        By: Trezo
                    </li>
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-calendar-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        April 11, 2025
                    </li>
                </ul>
                <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[15px] lg:!mb-[18px]">
                    <a routerLink="/blog-details" class="text-gray-900 dark:text-white transition-all hover:text-primary-500">
                        Avoid These 5 Inventory Mistakes
                    </a>
                </h3>
                <p class="!leading-[1.6]">
                    Save money, reduce churn, and improve operations.
                </p>
            </div>
            <div class="bg-[#f7f7f7] rounded-[15px] p-[20px] md:p-[30px] xl:p-[40px] dark:bg-[#0a0e19]">
                <a routerLink="/blog-details" class="block rounded-[12px] text-center">
                    <img src="images/ecommerce/blogs/blog4.jpg" class="rounded-[12px]" alt="blog-image">
                </a>
                <ul class="mt-[20px] md:mt-[25px] lg:mt-[30px] mb-[15px] lg:mb-[18px]">
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-user-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        By: Trezo
                    </li>
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-calendar-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        April 13, 2025
                    </li>
                </ul>
                <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[15px] lg:!mb-[18px]">
                    <a routerLink="/blog-details" class="text-gray-900 dark:text-white transition-all hover:text-primary-500">
                        Boosting AOV: Proven Upselling Tactics
                    </a>
                </h3>
                <p class="!leading-[1.6]">
                    Understand which numbers to watch and why they matter for growth.
                </p>
            </div>
            <div class="bg-[#f7f7f7] rounded-[15px] p-[20px] md:p-[30px] xl:p-[40px] dark:bg-[#0a0e19]">
                <a routerLink="/blog-details" class="block rounded-[12px] text-center">
                    <img src="images/ecommerce/blogs/blog5.jpg" class="rounded-[12px]" alt="blog-image">
                </a>
                <ul class="mt-[20px] md:mt-[25px] lg:mt-[30px] mb-[15px] lg:mb-[18px]">
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-user-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        By: Trezo
                    </li>
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-calendar-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        April 12, 2025
                    </li>
                </ul>
                <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[15px] lg:!mb-[18px]">
                    <a routerLink="/blog-details" class="text-gray-900 dark:text-white transition-all hover:text-primary-500">
                        The Secret to Faster Checkout Experiences
                    </a>
                </h3>
                <p class="!leading-[1.6]">
                    Boost sales with smarter UX and persuasive content.
                </p>
            </div>
            <div class="bg-[#f7f7f7] rounded-[15px] p-[20px] md:p-[30px] xl:p-[40px] dark:bg-[#0a0e19]">
                <a routerLink="/blog-details" class="block rounded-[12px] text-center">
                    <img src="images/ecommerce/blogs/blog6.jpg" class="rounded-[12px]" alt="blog-image">
                </a>
                <ul class="mt-[20px] md:mt-[25px] lg:mt-[30px] mb-[15px] lg:mb-[18px]">
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-user-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        By: Trezo
                    </li>
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-calendar-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        April 11, 2025
                    </li>
                </ul>
                <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[15px] lg:!mb-[18px]">
                    <a routerLink="/blog-details" class="text-gray-900 dark:text-white transition-all hover:text-primary-500">
                        Mobile Commerce Trends to Watch
                    </a>
                </h3>
                <p class="!leading-[1.6]">
                    Save money, reduce churn, and improve operations.
                </p>
            </div>
            <div class="bg-[#f7f7f7] rounded-[15px] p-[20px] md:p-[30px] xl:p-[40px] dark:bg-[#0a0e19]">
                <a routerLink="/blog-details" class="block rounded-[12px] text-center">
                    <img src="images/ecommerce/blogs/blog7.jpg" class="rounded-[12px]" alt="blog-image">
                </a>
                <ul class="mt-[20px] md:mt-[25px] lg:mt-[30px] mb-[15px] lg:mb-[18px]">
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-user-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        By: Trezo
                    </li>
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-calendar-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        April 13, 2025
                    </li>
                </ul>
                <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[15px] lg:!mb-[18px]">
                    <a routerLink="/blog-details" class="text-gray-900 dark:text-white transition-all hover:text-primary-500">
                        How to Optimize Product Listings for SEO
                    </a>
                </h3>
                <p class="!leading-[1.6]">
                    Understand which numbers to watch and why they matter for growth.
                </p>
            </div>
            <div class="bg-[#f7f7f7] rounded-[15px] p-[20px] md:p-[30px] xl:p-[40px] dark:bg-[#0a0e19]">
                <a routerLink="/blog-details" class="block rounded-[12px] text-center">
                    <img src="images/ecommerce/blogs/blog8.jpg" class="rounded-[12px]" alt="blog-image">
                </a>
                <ul class="mt-[20px] md:mt-[25px] lg:mt-[30px] mb-[15px] lg:mb-[18px]">
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-user-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        By: Trezo
                    </li>
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-calendar-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        April 12, 2025
                    </li>
                </ul>
                <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[15px] lg:!mb-[18px]">
                    <a routerLink="/blog-details" class="text-gray-900 dark:text-white transition-all hover:text-primary-500">
                        Crafting High-Converting Email Campaigns
                    </a>
                </h3>
                <p class="!leading-[1.6]">
                    Boost sales with smarter UX and persuasive content.
                </p>
            </div>
            <div class="bg-[#f7f7f7] rounded-[15px] p-[20px] md:p-[30px] xl:p-[40px] dark:bg-[#0a0e19]">
                <a routerLink="/blog-details" class="block rounded-[12px] text-center">
                    <img src="images/ecommerce/blogs/blog9.jpg" class="rounded-[12px]" alt="blog-image">
                </a>
                <ul class="mt-[20px] md:mt-[25px] lg:mt-[30px] mb-[15px] lg:mb-[18px]">
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-user-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        By: Trezo
                    </li>
                    <li class="relative inline-block ltr:pl-[24px] rtl:pr-[24px] mx-[10px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                        <i class="ri-calendar-line text-lg absolute top-1/2 ltr:left-0 rtl:right-0 -translate-y-1/2 text-primary-500"></i>
                        April 11, 2025
                    </li>
                </ul>
                <h3 class="!text-gray-900 dark:!text-white !font-medium !text-lg md:!text-[20px] lg:!text-[22px] xl:!text-xl !leading-[1.2] !mb-[15px] lg:!mb-[18px]">
                    <a routerLink="/blog-details" class="text-gray-900 dark:text-white transition-all hover:text-primary-500">
                        Streamlining Returns to Improve Customer Loyalty
                    </a>
                </h3>
                <p class="!leading-[1.6]">
                    Save money, reduce churn, and improve operations.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End Blog -->

<app-cta />