<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="!mb-0">
                Top Channels
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            <a routerLink="." class="inline-block relative ltr:pr-[13px] rtl:pl-[13px] leading-none transition-all hover:text-primary-500">
                Browse All <i class="ri-arrow-right-s-line absolute top-1/2 -translate-y-1/2 ltr:-right-[8px] rtl:-left-[8px] text-[23px] -mt-px"></i>
            </a>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="flex items-center justify-between border-b border-gray-100 dark:border-[#172036] pb-[10px] mb-[10px] last:border-none last:mb-0 last:pb-0">
            <div class="flex items-center gap-[15px]">
                <img src="images/icons/facebook3.svg" alt="facebook">
                <div>
                    <span class="block font-semibold text-black dark:text-white">
                        Facebook
                    </span>
                    <span class="block text-xs mt-[2px]">
                        Community
                    </span>
                </div>
            </div>
            <div class="rounded-full relative w-[50px] h-[50px]">
                <!-- Create Here: https://nikitahl.github.io/svg-circle-progress-generator/ -->
                <svg width="60" height="60" viewBox="-25 -25 250 250" version="1.1" xmlns="http://www.w3.org/2000/svg" class="relative -top-[5px] ltr:-left-[5px] rtl:-right-[5px]" style="transform:rotate(-90deg)">
                    <circle r="90" cx="100" cy="100" fill="transparent" stroke="transparent" stroke-width="16px" stroke-dasharray="565.48px" stroke-dashoffset="0"></circle>
                    <circle r="90" cx="100" cy="100" stroke="#605DFF" stroke-width="16px" stroke-linecap="round" stroke-dashoffset="113px" fill="transparent" stroke-dasharray="565.48px"></circle>
                </svg>
                <span class="block text-gray-500 dark:text-gray-400 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-[10px] absolute">
                    80%
                </span>
            </div>
        </div>
        <div class="flex items-center justify-between border-b border-gray-100 dark:border-[#172036] pb-[10px] mb-[10px] last:border-none last:mb-0 last:pb-0">
            <div class="flex items-center gap-[15px]">
                <img src="images/icons/dribbble2.svg" alt="dribbble">
                <div>
                    <span class="block font-semibold text-black dark:text-white">
                        Dribbble
                    </span>
                    <span class="block text-xs mt-[2px]">
                        Community
                    </span>
                </div>
            </div>
            <div class="rounded-full relative w-[50px] h-[50px]">
                <!-- Create Here: https://nikitahl.github.io/svg-circle-progress-generator/ -->
                <svg width="60" height="60" viewBox="-25 -25 250 250" version="1.1" xmlns="http://www.w3.org/2000/svg" class="relative -top-[5px] ltr:-left-[5px] rtl:-right-[5px]" style="transform:rotate(-90deg)">
                    <circle r="90" cx="100" cy="100" fill="transparent" stroke="transparent" stroke-width="16px" stroke-dasharray="565.48px" stroke-dashoffset="0"></circle>
                    <circle r="90" cx="100" cy="100" stroke="#5DA8FF" stroke-width="16px" stroke-linecap="round" stroke-dashoffset="141px" fill="transparent" stroke-dasharray="565.48px"></circle>
                </svg>
                <span class="block text-gray-500 dark:text-gray-400 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-[10px] absolute">
                    75%
                </span>
            </div>
        </div>
        <div class="flex items-center justify-between border-b border-gray-100 dark:border-[#172036] pb-[10px] mb-[10px] last:border-none last:mb-0 last:pb-0">
            <div class="flex items-center gap-[15px]">
                <img src="images/icons/instagram2.svg" alt="instagram">
                <div>
                    <span class="block font-semibold text-black dark:text-white">
                        Instagram
                    </span>
                    <span class="block text-xs mt-[2px]">
                        Reels
                    </span>
                </div>
            </div>
            <div class="rounded-full relative w-[50px] h-[50px]">
                <!-- Create Here: https://nikitahl.github.io/svg-circle-progress-generator/ -->
                <svg width="60" height="60" viewBox="-25 -25 250 250" version="1.1" xmlns="http://www.w3.org/2000/svg" class="relative -top-[5px] ltr:-left-[5px] rtl:-right-[5px]" style="transform:rotate(-90deg)">
                    <circle r="90" cx="100" cy="100" fill="transparent" stroke="transparent" stroke-width="16px" stroke-dasharray="565.48px" stroke-dashoffset="0"></circle>
                    <circle r="90" cx="100" cy="100" stroke="#FE7A36" stroke-width="16px" stroke-linecap="round" stroke-dashoffset="113px" fill="transparent" stroke-dasharray="565.48px"></circle>
                </svg>
                <span class="block text-gray-500 dark:text-gray-400 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-[10px] absolute">
                    80%
                </span>
            </div>
        </div>
        <div class="flex items-center justify-between border-b border-gray-100 dark:border-[#172036] pb-[10px] mb-[10px] last:border-none last:mb-0 last:pb-0">
            <div class="flex items-center gap-[15px]">
                <img src="images/icons/google3.svg" alt="google">
                <div>
                    <span class="block font-semibold text-black dark:text-white">
                        Google
                    </span>
                    <span class="block text-xs mt-[2px]">
                        SEO & PPC
                    </span>
                </div>
            </div>
            <div class="rounded-full relative w-[50px] h-[50px]">
                <!-- Create Here: https://nikitahl.github.io/svg-circle-progress-generator/ -->
                <svg width="60" height="60" viewBox="-25 -25 250 250" version="1.1" xmlns="http://www.w3.org/2000/svg" class="relative -top-[5px] ltr:-left-[5px] rtl:-right-[5px]" style="transform:rotate(-90deg)">
                    <circle r="90" cx="100" cy="100" fill="transparent" stroke="transparent" stroke-width="16px" stroke-dasharray="565.48px" stroke-dashoffset="0"></circle>
                    <circle r="90" cx="100" cy="100" stroke="#58F229" stroke-width="16px" stroke-linecap="round" stroke-dashoffset="0px" fill="transparent" stroke-dasharray="565.48px"></circle>
                </svg>
                <span class="block text-gray-500 dark:text-gray-400 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-[10px] absolute">
                    100%
                </span>
            </div>
        </div>
        <div class="flex items-center justify-between border-b border-gray-100 dark:border-[#172036] pb-[10px] mb-[10px] last:border-none last:mb-0 last:pb-0">
            <div class="flex items-center gap-[15px]">
                <img src="images/icons/figma2.svg" alt="figma">
                <div>
                    <span class="block font-semibold text-black dark:text-white">
                        Figma
                    </span>
                    <span class="block text-xs mt-px">
                        Community
                    </span>
                </div>
            </div>
            <div class="rounded-full relative w-[50px] h-[50px]">
                <!-- Create Here: https://nikitahl.github.io/svg-circle-progress-generator/ -->
                <svg width="60" height="60" viewBox="-25 -25 250 250" version="1.1" xmlns="http://www.w3.org/2000/svg" class="relative -top-[5px] ltr:-left-[5px] rtl:-right-[5px]" style="transform:rotate(-90deg)">
                    <circle r="90" cx="100" cy="100" fill="transparent" stroke="transparent" stroke-width="16px" stroke-dasharray="565.48px" stroke-dashoffset="0"></circle>
                    <circle r="90" cx="100" cy="100" stroke="#BF85FB" stroke-width="16px" stroke-linecap="round" stroke-dashoffset="226px" fill="transparent" stroke-dasharray="565.48px"></circle>
                </svg>
                <span class="block text-gray-500 dark:text-gray-400 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-[10px] absolute">
                    60%
                </span>
            </div>
        </div>
    </div>
</div>