<div
    class="courses-area pt-180 pb-155"
    [class.component-dark]="toggleService.isLandingDark()"
    [class.component-rtl]="toggleService.isLandingRtlEnabled()"
>
    <div class="container">
        <div class="lms-section-title">
            <h2 class="mb-0 mt-0 fw-semibold">
                Courses You May Like
            </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="course-item">
                    <a routerLink="/lms-courses-demo/course-details" class="image d-block">
                        <img src="images/lms-courses/courses/course4.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/lms-courses-demo/course-details">
                                Mindfulness & Stress Management
                            </a>
                        </h3>
                        <div class="ratings d-flex align-items-center lh-1">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-line"></i>
                            <i class="ri-star-line"></i>
                            <span class="d-block position-relative">
                                4.0 (750 ratings)
                            </span>
                        </div>
                        <div class="price lh-1 fw-semibold">
                            $79
                        </div>
                        <ul class="info p-0 mb-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="material-symbols-outlined">
                                    book_ribbon
                                </i>
                                20 Lessons
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="material-symbols-outlined">
                                    group
                                </i>
                                4,00+ Enrolled
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="course-item">
                    <a routerLink="/lms-courses-demo/course-details" class="image d-block">
                        <img src="images/lms-courses/courses/course9.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/lms-courses-demo/course-details">
                                Financial Planning & Investing
                            </a>
                        </h3>
                        <div class="ratings d-flex align-items-center lh-1">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-fill"></i>
                            <span class="d-block position-relative">
                                4.5 (1,310 ratings)
                            </span>
                        </div>
                        <div class="price lh-1 fw-semibold">
                            $79
                        </div>
                        <ul class="info p-0 mb-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="material-symbols-outlined">
                                    book_ribbon
                                </i>
                                32 Lessons
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="material-symbols-outlined">
                                    group
                                </i>
                                6,800+ Enrolled
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="course-item">
                    <a routerLink="/lms-courses-demo/course-details" class="image d-block">
                        <img src="images/lms-courses/courses/course8.jpg" alt="course-image">
                    </a>
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/lms-courses-demo/course-details">
                                Video Editing - Adobe Premiere Pro
                            </a>
                        </h3>
                        <div class="ratings d-flex align-items-center lh-1">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <span class="d-block position-relative">
                                4.9 (870 ratings)
                            </span>
                        </div>
                        <div class="price lh-1 fw-semibold">
                            $69
                        </div>
                        <ul class="info p-0 mb-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="material-symbols-outlined">
                                    book_ribbon
                                </i>
                                28 Lessons
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="material-symbols-outlined">
                                    group
                                </i>
                                4,900+ Enrolled
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>