<div
    class="use-cases-area pt-180 pb-155 position-relative z-1"
    [class.component-dark]="toggleService.isLandingDark()"
    [class.component-rtl]="toggleService.isLandingRtlEnabled()"
>
    <div class="container">
        <div class="ecommerce-section-title text-center">
            <span class="sub-title d-inline-block">
                It's Built For
            </span>
            <h2 class="mx-auto">
                Perfect for Every Kind of Online Seller
            </h2>
            <p>
                Whether you're just starting or scaling big — Trezo fits your store.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-6">
                <div class="use-case-box mx-auto text-center position-relative">
                    <div class="arrow">
                        <img src="images/ecommerce/arrow-top-right.svg" alt="arrow-top-right">
                    </div>
                    <div class="icon rounded-circle d-flex align-items-center justify-content-center">
                        <img src="images/ecommerce/icons/brand.svg" alt="brand">
                    </div>
                    <h3>
                        D2C Brands
                    </h3>
                    <p>
                        Control the full customer journey and drive loyalty.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="use-case-box mx-auto text-center position-relative">
                    <div class="arrow">
                        <img src="images/ecommerce/arrow-top-right.svg" alt="arrow-top-right">
                    </div>
                    <div class="icon rounded-circle d-flex align-items-center justify-content-center">
                        <img src="images/ecommerce/icons/shopify.svg" alt="shopify">
                    </div>
                    <h3>
                        Shopify Sellers
                    </h3>
                    <p>
                        Plug Trezo into your existing setup and enhance capabilities.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="use-case-box mx-auto text-center position-relative">
                    <div class="arrow">
                        <img src="images/ecommerce/arrow-top-right.svg" alt="arrow-top-right">
                    </div>
                    <div class="icon rounded-circle d-flex align-items-center justify-content-center">
                        <img src="images/ecommerce/icons/industry.svg" alt="industry">
                    </div>
                    <h3>
                        Niche Stores
                    </h3>
                    <p>
                        Run smarter with insights tailored to your audience.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="use-case-box mx-auto text-center position-relative">
                    <div class="arrow">
                        <img src="images/ecommerce/arrow-top-right.svg" alt="arrow-top-right">
                    </div>
                    <div class="icon rounded-circle d-flex align-items-center justify-content-center">
                        <img src="images/ecommerce/icons/shopping-store.svg" alt="shopping-store">
                    </div>
                    <h3>
                        Multi-Channel Retailers
                    </h3>
                    <p>
                        Track sales from all platforms, seamlessly.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape">
        <img src="images/ecommerce/mesh-grad.png" alt="mesh-grad">
    </div>
</div>