<mat-card
    class="revenue-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <span class="d-block">
            Revenue
        </span>
        <h3>
            $3M
        </h3>
        <span class="trezo-badge finished">
            +3.4%
        </span>
        <span class="text-xs d-block">
            vs previous 30 days
        </span>
        <div class="chart">
            <div id="restaurant_revenue_chart"></div>
        </div>
    </mat-card-content>
</mat-card>